<%- include('../layout/adminHeader') %>
<style>
  .input-group {    
  position:relative;
  width : 100%;  
  margin-bottom: 25px;
}

.input-group input,
.input-group textarea {
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
}

.floating-label {
  position: absolute;
  left: 10px;
  top: 10px;
  pointer-events: none;
  transition: 0.2s ease all;
  color: #aaa;
  font-size: 1rem;
}

input:focus ~ .floating-label,
input:not(:placeholder-shown) ~ .floating-label,
textarea:focus ~ .floating-label,
textarea:not(:placeholder-shown) ~ .floating-label {
  top: -20px;
  left: 10px;
  font-size: 0.8rem;
  color: #474b50;
} 
  .error{
    position:absolute;
    right:8px;
    top:10px;
   color:#ed1557;
   font-size: 13px;
   font-weight: bold;
}

.error i {
    color:seagreen;
}
</style>
<section>   
      <div class="container">
        <form role="form" id="profile_form" action="" method="post" enctype="multipart/form-data" onsubmit="return validateProduct()">    
          <!-- /upload -->
          <div class="row ">                    
            <div class="col-6">
                <div class="card card-plain">
                    <div class="card-header">
                      <h4 class="font-weight-bolder">Add new Products</h4>
                      <!-- <p class="mb-0">Enter your email and password to register</p> -->
                    </div>
                    <% if (errorMessage.length > 0) { %>                
                      <div id="errorMessageDiv" class="alert alert-danger mt-3" role="alert"> <%- errorMessage %>  </div>                
                                         <script>                                
                                           setTimeout(function() {
                                              var errorMessageDiv = document.getElementById("errorMessageDiv");
                                              if (errorMessageDiv) {
                                                  errorMessageDiv.style.display = "none";
                                              }
                                          }, 4000); 
                                      </script>
                      <% } %>
                   
                    <div class="card-body">             
                      <div class="input-group input-group-outline mb-3">
                         <input type="text" id="name" class="form-control" name="name" placeholder=""  onchange="validatePdtName()" >
                         <label for="name" class="floating-label">Name</label>
                         <span id="name-error" class="error"></span>
                        </div>
                      <!-- <div class="input-group input-group-outline mb-3 ">                 
                        <input type="email" class="form-control" placeholder="Category">
                      </div> -->
                      <div class="input-group input-group-outline mb-3" style="position: relative; margin-bottom: 20px;">                  
                        <div class="mx-4" style="position: absolute;left:10px;">
                          <select id="categoryName" class="form-control" required>
                            <option value="">Select Category</option>
                              <% categories.forEach((row, index) => { %>
                                  <option value="<%= row.category_name %>"><%= row.category_name %></option>
                              <% }) %>
                          </select>
                        </div>
                        <div class="mx-4"  style="position: absolute;top: 0; left: calc(50% - 120px);">
                          <select id="sellerName" class="form-control" required>
                            <option value="">Select Seller</option>
                              <% sellers.forEach((row, index) => { %>
                                  <option value="<%= row.seller_name %>"><%= row.seller_name %></option>
                              <% }) %>
                          </select>
                        </div>
                        <div class="mx-4" style="position: absolute;right:10px;">
                          <select id="discountName" class="form-control" required>
                            <option value="">Select Discount</option>
                              <% discounts.forEach((row, index) => { %>
                                  <option value="<%= row.discount_name %>"><%= row.discount_name %></option>
                              <% }) %>
                          </select>
                        </div>
                      </div>
                      <div style="margin-top: 60px;">
                        <div class="input-group input-group-outline mt-3">                  
                          <textarea type="text" id="description" name="description" class="form-control" placeholder="" onkeyup="validateDescription()"></textarea>
                          <label for="description" class="floating-label">Description</label>
                          <span id="description-error" class="error"></span>
                        </div>
                        <div class="input-group input-group-outline mb-3">                   
                            <input type="text" id="stock" name="stock" class="form-control" placeholder="" onchange="validateStock()" >
                           <label for="stock" class="floating-label">Stock</label>
                           <span id="stock-error" class="error"></span>
                          </div>
                        <div class="input-group input-group-outline mb-3">                   
                            <input type="text" id="price"  name="price" class="form-control" placeholder="" onchange="validatePrice()">
                           <label for="price" class="floating-label">Price</label>
                           <span id="price-error" class="error"></span>
                          </div>
                       
                        </div>
                        <div class="input-group input-group-outline mb-4 d-flex"> 
                          <div class="dropdown mx-3 mb-3">
                            <select id="material" class="form-control" required>
                              <option value="">Select Material</option>
                                <option value="wood">Wood</option>
                                <option value="fibre">Fibre</option>
                                <option value="brass">Brass</option>
                                <option value="metal">Metal</option>
                                <option value="stone">Stone</option>                               
                                <option value="paper">Paper</option>
                                <option value="bamboo">Bamboo</option>
                                <option value="copper">Copper-alloy</option>
                                <option value="handloom">Handloom</option>
                                <option value="cotton">Cotton</option>
                                <option value="rosewood">Rosewood</option>
                                <option value="metalwood">Metal-wood</option>
                                <option value="Others">Others</option>
                            </select>
                        </div>
                        <div class="mx-3">
                          <select id="color" class="form-control" required>
                            <option value="">Select Color</option>
                            <option value="brown">Brown</option>
                            <option value="white">White</option>
                            <option value="bronze">Bronze</option>
                            <option value="navyblue">Navy Blue</option>
                            <option value="cream">Cream</option>
                              <option value="orange">Orange</option>
                              <option value="gold">Gold</option>
                              <option value="steel">Steel</option>
                              <option value="green">Green</option>
                              <option value="yellow">Yellow</option>
                              <option value="grey">Grey</option>
                              <option value="blue">Blue</option>
                              <option value="red">Red</option>
                              <option value="charcol">Charcol</option>
                              <option value="multi">Multicolor</option>
                              
                          </select>
                        </div>    
                        <div class="mx-3">
                          <select id="type" class="form-control" required>
                            <option value="">Select Type</option>
                            <option value="decor">decor</option>
                            <option value="gift">gifts</option>
                            <option value="toys">toys</option>
                              <option value="figurine">figurine</option>
                              <option value="accessories">accessories</option>
                              <option value="eco-friendly">eco-friendly</option>
                              <option value="kitchen-utensil">kitchen-utensil</option>
                              <option value="natural-products">natural-products</option>
                              <option value="clothes">clothes</option>
                              <option value="jewellery">jewellery</option>
                              <option value="western">western</option>
                              <option value="others">others</option>
                              
                          </select></div>          
                        <div class="input-group input-group-outline mb-3">                   
                          <input type="text" id="size" name="size" class="form-control" placeholder="" onchange="validateSize()">
                          <label for="size" class="floating-label">Size (inches)</label>
                          <span id="size-error" class="error"></span>
                        </div>
                        <div class="input-group input-group-outline mb-3">                   
                          <input type="text" id="weight" name="weight" class="form-control" placeholder="" onchange="validateWeight()">
                          <label for="weight" class="floating-label">Weight(grams)</label>
                          <span id="weight-error" class="error"></span>
                        </div>                
                        </div>
                        <div class="input-group input-group-outline mb-3 d-flex"> 
                         
                          
  
                        <div>
                             <input type="file" class="form-control mx-3" 
                              id="file-input" name="croppedImage" accept="image/*" 
                              onchange="handleFileInputChange(event)" multiple required>                            
                        </div>             
                      </div>
                          
                          <div class="text-center d-flex justify-content-end">                         
                              <button  id="addButton" type="submit"  class="btn btn-lg bg-gradient-primary btn-lg w-100 mt-4 mb-0 me-2">Submit</button>
                           </div>
                        
                      </div>
                      </div>
                     
                  
                </div> 
             
            <div class="col-6 d-block " id="images">
              <div id="imgdiv1" class="w-100 d-flex" style="height: 250px; visibility: hidden;">
                  <div class="d-block">
                      <img id="inputImg1" src="" alt="" style="display: block; max-width: 100%;">
                  </div>                 
              </div>
              <div id="imgdiv2" class="w-100 d-flex" style="height: 250px; visibility: hidden;">
                <div class="d-block">
                    <img id="inputImg2" src="" alt="" style="display: block; max-width: 100%;">
                </div>                 
            </div>
            <div id="imgdiv3" class="w-100 d-flex" style="height: 250px; visibility: hidden;">
              <div class="d-block">
                  <img id="inputImg3" src="" alt="" style="display: block; max-width: 100%;">
              </div>                 
          </div>
              </div>
            </div>
            

          
        </form>        
       </div>   
       <!-- <div id="overlay"></div> -->
  </section>
<script src="/js/validate.js"></script>

<script>
 
  
  //let cropper ;
  let imageArray = []
  let previewDiv = document.getElementById('imgdiv1')
  let preview = document.getElementById('inputImg1')
    
  function handleFileInputChange(event) {
    
    // const files = event.target.files;
    // if (files && files.length > 0) {
    //     const file = files[0]; 
    //     const reader = new FileReader(); 
        
    //     reader.onload = function(e) {
    //         previewDiv.style.visibility = 'visible';
    //         preview.src = e.target.result;
    //     };        
    //     reader.readAsDataURL(file);
    // }}

    const files = event.target.files; // Get the selected files
    console.log("files :",files);
    // Iterate through each file
   
    for (let i = 0; i <= files.length; i++) {
        const reader = new FileReader(); 

        // Define a callback function to handle the FileReader's onload event
        reader.onload = function(event) {
            const imgSrc = event.target.result; // Get the base64 data URL of the image
            const imgIndex = i + 1; // Index of the image (e.g., img1, img2, etc.)
            const inputImgId = `inputImg${imgIndex}`; // ID of the input image element
            const imgElement = document.getElementById(inputImgId); // Get the input image element

            // Set the src attribute of the input image element to display the preview
            imgElement.src = imgSrc;
            imageArray.push(imgSrc)

            // Show the image container
            const imgContainerId = `imgdiv${imgIndex}`;
            document.getElementById(imgContainerId).style.visibility = 'visible';
           console.log("CALLING", i)
            initializeCropperForImage(i+1);
        };
       
        reader.readAsDataURL(files[i]);
        
    }
  }

  const croppers = [];

  function initializeCropperForImage(inputIndex) {
    const imageId = `inputImg${inputIndex}`;
    console.log(imageId);

    const imageElement = document.getElementById(imageId);

    // Ensure the image is loaded before getting dimensions
  //  imageElement.onload = () => {
    // Get original dimensions of the image
    // const originalWidth = imageElement.naturalWidth;
    // const originalHeight = imageElement.naturalHeight;

    // console.log(`Original Dimensions for ${imageElement}:`, originalWidth, originalHeight);

    let cropper = new Cropper(imageElement, {        
        aspectRatio:1/1,
        ready: function () {
                // Save original dimensions in cropper instance
                // cropper.originalDimensions = { originalWidth, originalHeight };
                // console.log("dimensiion:",cropper.originalDimensions)
                // console.log(`Cropper ready for ${imageId}:`, cropper);
            }
    });
    console.log(`cropper${imageId} :`,cropper);

    // Save cropper instance
    // croppers.push(cropper);
    croppers[inputIndex - 1] = cropper;
    console.log('croppers :',inputIndex ,":",croppers)
  }
  // if (imageElement.complete) {
  //     console.log("image",imageElement)
  //       imageElement.onload();        
  //   }
  // }

  

  let form = document.getElementById('profile_form')
  let bloabArray = []
   
  form.addEventListener('submit',function(event){
    event.preventDefault() 
    let formData = new FormData(form); 
    //get canvas of each images, croppers[] has the cropper instance for each images
    croppers.forEach((cropper, index) => {
      console.log("getcanvas",cropper)
      // if (!cropper || !cropper.originalDimensions) {
      //       console.error(`Original dimensions not set for cropper ${index}`);
      //       return;
      //   }
      // const { originalWidth, originalHeight } = cropper.originalDimensions;
        
        cropper.getCroppedCanvas({
          minWidth: 256,
          minHeight: 256,
          maxWidth: 4096,
          maxHeight: 4096,
      }).toBlob(function(blob){
        //  console.log(`Cropped image`, blob);
          formData.append('croppedImage',blob,`cropped_image_${Date.now()}.png`); 
       //   bloabArray.push(blob)
        if( index === 2)
          appendCroppedImageToForm(formData)
      })
    });
  })


  function  appendCroppedImageToForm(formData){  
    
   // let form = document.getElementById('profile_form');
    console.log("form: ",form)
   // let formData = new FormData(form)
    for (var pair of formData.entries()) {
        console.log(pair[0] + ': ' + pair[1]);
        
    }
    //console.log("blob :",bloabArray)
  //  formData.append('croppedImage',bloabArray,`cropped_image_${Date.now()}.png`); /*`cropped_image_${Date.now()}.png`*/
    console.log("crr",formData.croppedImage)
    
    console.log("formdata: ",formData)
    console.log('Form data length:', formData.size); 
    console.log('Form data keys:', formData.keys()); 
    
    for (const key of formData.keys()) {
      console.log(key + ':', formData.get(key));
    }
    console.log('Form data:', formData);
    //console.log('Blob:', blob);


$.ajax('/uploadPdtImage', {
  method: 'POST',
  data: formData,
  processData: false,
  contentType: false,
  success() {
    console.log("uploaded")
    location.href='/admin/products'
  },
  error() {
    location.href='/newProducts'
    console.log('Upload error');
  },
});
  }
</script>

  <%- include('../layout/adminFooter') %>