<%- include('../layout/adminHeader') %>
<style>
    .input-group {
      /* display  : flex;
      flex-direction: column; */
    position:relative;
    width : 100%;
    /* //background-color: aqua; */
    margin-bottom: 25px;
  }
  
  .input-group input,
  .input-group textarea {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
  }
  
  .floating-label {
    position: absolute;
    left: 10px;
    top: 10px;
    pointer-events: none;
    transition: 0.2s ease all;
    color: #aaa;
    font-size: 1rem;
  }
  
  input:focus ~ .floating-label,
  input:not(:placeholder-shown) ~ .floating-label,
  textarea:focus ~ .floating-label,
  textarea:not(:placeholder-shown) ~ .floating-label {
    top: -20px;
    left: 10px;
    font-size: 0.8rem;
    color: #474b50;
  } 
    .error{
      position:absolute;
      right:8px;
      top:10px;
     color:#ed1557;
     font-size: 13px;
     font-weight: bold;
  }
  
  .error i {
      color:seagreen;
  }
  </style>

<section>   
      <div class="container">
        <form role="form" id="product-form" action="/update/<%= products._id %>" method="post" onsubmit="return validateProduct()">    
        <div class="row ">                    
            <div class="col-6">
                <div class="card card-plain">
                    <div class="card-header">
                      <h4 class="font-weight-bolder">Update Products</h4>
                      <!-- <p class="mb-0">Enter your email and password to register</p> -->
                    </div>
                    <% let categ = '' %>
                    <% let sell = '' %>
                    <% let disc = '' %>
                   
                    <% if (errorMessage.length > 0) { %>                
                      <div id="errorMessageDiv" class="alert alert-danger mt-3" role="alert"> <%- errorMessage %>  </div>                
                                         <script>                                
                                           setTimeout(function() {
                                              var errorMessageDiv = document.getElementById("errorMessageDiv");
                                              if (errorMessageDiv) {
                                                  errorMessageDiv.style.display = "none";
                                              }
                                          }, 4000); 
                                      </script>
                      <% } %>
                    <div class="card-body">             
                      <div class="input-group input-group-outline mb-3">
                         <input type="text" id="name" name="name" class="form-control" value="<%= products.product_name %>" onchange="validatePdtName()">
                         <label for="name" class="floating-label">Name</label>
                         <span id="name-error" class="error"></span>
                    </div>
                     
                      <div class="input-group input-group-outline mb-3 d-flex justify-content-center">                  
                        <div class="dropdown mx-4" style="margin-bottom:15px;">
                            <% categories.forEach((row, index) => { %>
                             
                                <% if(row._id .equals( products.category)) { %>
                                    <% categ = row.category_name %>
                                    
                                    <% } %>
                                <% }) %>
                            <select id="categoryName" class="form-control">
                                <option value="<%= categ %>"><%= categ %></option>
                                  <% categories.forEach((row, index) => { %>
                                      <option value="<%= row.category_name %>"><%= row.category_name %></option>
                                  <% }) %>
                              </select>
                           
                        </div>
                        <div class="dropdown mx-4">
                        <% sellers.forEach((row, index) => { %>
                        <% if(row._id.equals(products.seller)) { %>
                            <% sell = row.seller_name %>
                            <% } %>
                        <% }) %>
                            <select id="sellerName" class="form-control">
                                <option value="<%= sell %>"><%= sell %></option>
                                  <% sellers.forEach((row, index) => { %>
                                      <option value="<%= row.seller_name %>"><%= row.seller_name %></option>
                                  <% }) %>
                              </select>
                            
                        </div>
                        <div class="dropdown mx-4">
                            <% discounts.forEach((row, index) => { %>
                                <% if(row._id .equals(products.discount)) { %>
                                    <% disc = row.discount_name %>
                                    <% } %>
                                <% }) %>
                            <select id="discountName" class="form-control">
                                <option value="<%= disc %>"><%= disc %></option>
                                  <% discounts.forEach((row, index) => { %>
                                      <option value="<%= row.discount_name %>"><%= row.discount_name %></option>
                                  <% }) %>
                              </select>
                             
                        </div>
                      </div>
                      <div class="input-group input-group-outline mb-3">                  
                        <textarea type="text" id="description" name="description" class="form-control" style="margin-bottom: 15px;" onkeyup="validateDescription()"><%= products.description %></textarea>
                        <label for="description" class="floating-label">Description</label>
                        <span id="description-error" class="error"></span>
                    </div>
                      <div class="input-group input-group-outline mb-3">                   
                          <input type="text" style="margin-bottom: 15px;" id="stock" name="stock" class="form-control" value="<%= products.stock %>" onchange="validateStock()" >
                          <label for="stock" class="floating-label">Stock</label>
                          <span id="stock-error" class="error"></span>
                    </div>
                      <div class="input-group input-group-outline mb-3">                   
                          <input type="text" style="margin-bottom: 10px;" id="price" name="price" class="form-control" value="<%= products.price_unit %>" validatePrice()">
                          <label for="price" class="floating-label">Price</label>
                          <span id="price-error" class="error"></span>
                        </div>
                      <div class="input-group input-group-outline mb-3 d-flex" > 
                            <div class="dropdown mx-3" style="margin-bottom: 20px;">
                                <select id="material" class="form-control" required>
                                    <option value="<%= products.material %>"><%= products.material %></option>
                                    <option value="wood">Wood</option>
                                    <option value="fibre">Fibre</option>
                                    <option value="brass">Brass</option>
                                    <option value="metal">Metal</option>
                                    <option value="paper">Paper</option>
                                    <option value="stone">Stone</option>
                                    <option value="bamboo">Bamboo</option>
                                    <option value="copper">Copper-alloy</option>
                                    <option value="handloom">Handloom</option>
                                    <option value="cotton">Cotton</option>
                                    <option value="rosewood">Rosewood</option>
                                    <option value="metalwood">Metal-wood</option>
                                    <option value="Others">Others</option>
                                  </select>
                            </div>
                            <div class="dropdown mx-3">
                                <select id="color" class="form-control" required>
                                    <option value="<%= products.color %>"><%= products.color %></option>
                                    <option value="brown">Brown</option>
                            <option value="white">White</option>
                            <option value="bronze">Bronze</option>
                            <option value="navyblue">Navy Blue</option>
                            <option value="cream">Cream</option>
                            <option value="orange">Orange</option>
                            <option value="gold">Gold</option>
                            <option value="steel">Steel</option>
                            <option value="green">Green</option>
                            <option value="yellow">Yellow</option>
                            <option value="grey">Grey</option>
                            <option value="blue">Blue</option>
                            <option value="red">Red</option>
                            <option value="charcol">Charcol</option>
                            <option value="multi">Multicolor</option>
                                      
                                  </select>
                            </div>   
                            <div class="mx-3">
                                <select id="type" class="form-control" required>
                                  <option value="<%= products.product_type %>"><%= products.product_type %></option>
                                  <option value="decor">decor</option>
                                  <option value="gift">gifts</option>
                                  <option value="toys">toys</option>
                                    <option value="figurine">figurine</option>
                                    <option value="accessories">accessories</option>
                                    <option value="eco-friendly">eco-friendly</option>
                                    <option value="kitchen-utensil">kitchen-utensil</option>
                                    <option value="natural-products">natural-products</option>
                                    <option value="clothes">clothes</option>
                                    <option value="jewellery">jewellery</option>
                                    <option value="western">western</option>
                                    <option value="others">others</option>
                                    
                                </select></div>               
                            <div class="input-group input-group-outline mb-3">                   
                                <input type="text" id="size" style="margin-bottom: 15px;" name="size" class="form-control" value="<%= products.size %>" onchange="validateSize()">
                                <label for="size" class="floating-label">Size (inches)</label>
                                <span id="size-error" class="error"></span>
                            </div>
                            <div class="input-group input-group-outline mb-3">                   
                                <input type="text" id="weight"  name="weight" class="form-control" value="<%= products.weight %>" onchange="validateWeight()">
                                <label for="weight" class="floating-label">Weight(grams)</label>
                                <span id="weight-error" class="error"></span>
                            </div>      
                           
                      </div>
                      <div class="input-group input-group-outline mb-3 d-flex">  
                        <div class="mx-3">
                            <select id="status" class="form-control" required>
                              <option value="<%= products.status %>"><%= products.status %></option>
                              <option value="new">new</option>
                              <option value="active">active</option>
                              <option value="inactive">inactive</option>                              
                                
                            </select></div> 
                            <div class="mx-3">
                                <select id="list" class="form-control" required>
                                  <option value="<%= products.isListing %>"><%= products.isListing %></option>
                                  <option value="true">true</option>
                                  <option value="false">false</option>                                                             
                                    
                                </select></div> 
                     
                    </div>
                        
                        <div class="text-center d-flex justify-content-end">                         
                            <input type="submit" id="editButton" value="Update" formaction="/update/<%= products._id %>"  class="btn btn-lg bg-gradient-primary btn-lg w-100 mt-4 mb-0 me-2">
                            <input type="submit" id="deleteButton" value="Delete" formaction="/delete/<%= products._id %>"   class="btn btn-lg bg-gradient-primary btn-lg w-100 mt-4 mb-0 me-2">
                        </div>
                      
                    </div>
                  
                </div> 
            </div> 
        </form> 
            <div class="col-6" >
                <% for( let i = 0 ; i< products.images.length ; i++ ) {%>
              
                <% console.log(products.images[i]) %>
                <div style="margin: 5px;
                border: 1px solid #ccc;
                float: block;
                width: 180px;">
                   <div class="d-flex">
                        <a target="_blank" href="#">
                            <img src="<%=`/upload/${products.images[i]}` %>" alt="<%= products.images[i]%>" width="200" height="200">
                        </a> 
                        <div class="d-block ms-4 align-items-center">
                            
                           <a href="/addimage/<%=products._id%>/?image=<%=products.images[i]%>" ><span class="btn btn-sm bg-gradient-secondary w-100">Change</span></a>
                            <button type="button" class="btn btn-sm bg-gradient-secondary w-100" onclick="removeImage('<%=products._id%>','<%=products.images[i]%>')">delete</button> 
                        </div>
                    </div>                   
                </div>
                
            <% } %>  
            <%console.log("products._id")%>

            <%console.log(products._id)%>

                <a href="/addimage/<%=products._id%>"><button type="button" class="btn btn-sm bg-gradient-secondary w-100">add image</button></a>
               <div> 
               
            </div> 
          </div> 
              
       </div>   
  </section>
  <script src="/js/validate.js"></script>
  <script>
    function removeImage(pdtid,images){
        const data = { 
            pdtid, images
        }
        console.log(data)
        fetch('/removeImage',{
            method:'post',
            headers:{'Content-Type':'application/json'},
            body:JSON.stringify(data)
        })
        .then((res)=>{res.json()})
        .then((success)=>{           
            if(success){
                console.log('success')
                location.href=`/admin/products/update/${pdtid}`
            } else {
                location.href=`/admin/products/update/${pdtid}`
            }

        })

    }
  </script>

  <%- include('../layout/adminFooter') %>