<%- include('../layout/adminHeader') %>
<section>   
      <div class="container">
        <form role="form" id="product-form" action="/update/<%= products._id %>" method="post">    
        <div class="row ">                    
            <div class="col-6">
                <div class="card card-plain">
                    <div class="card-header">
                      <h4 class="font-weight-bolder">Update Products</h4>
                      <!-- <p class="mb-0">Enter your email and password to register</p> -->
                    </div>
                    <% let categ = '' %>
                    <% let sell = '' %>
                    <% let disc = '' %>
                   
                    <% if (errorMessage.length > 0) { %>                
                        <div class="alert alert-danger text-white" role="alert"> <%- errorMessage %>  </div>                  
                      <% } %>
                     
                    <div class="card-body">             
                      <div class="input-group input-group-outline mb-3">
                         <input type="text" name="name" class="form-control" value="<%= products.product_name %>">
                      </div>
                     
                      <div class="input-group input-group-outline mb-3 d-flex justify-content-center">                  
                        <div class="dropdown mx-4">
                            <% categories.forEach((row, index) => { %>
                             
                                <% if(row._id .equals( products.category)) { %>
                                    <% categ = row.category_name %>
                                    
                                    <% } %>
                                <% }) %>
                            <select id="categoryName" class="form-control">
                                <option value="<%= categ %>"><%= categ %></option>
                                  <% categories.forEach((row, index) => { %>
                                      <option value="<%= row.category_name %>"><%= row.category_name %></option>
                                  <% }) %>
                              </select>
                           
                        </div>
                        <div class="dropdown mx-4">
                        <% sellers.forEach((row, index) => { %>
                        <% if(row._id.equals(products.seller)) { %>
                            <% sell = row.seller_name %>
                            <% } %>
                        <% }) %>
                            <select id="sellerName" class="form-control">
                                <option value="<%= sell %>"><%= sell %></option>
                                  <% sellers.forEach((row, index) => { %>
                                      <option value="<%= row.seller_name %>"><%= row.seller_name %></option>
                                  <% }) %>
                              </select>
                            
                        </div>
                        <div class="dropdown mx-4">
                            <% discounts.forEach((row, index) => { %>
                                <% if(row._id .equals(products.discount)) { %>
                                    <% disc = row.discount_name %>
                                    <% } %>
                                <% }) %>
                            <select id="discountName" class="form-control">
                                <option value="<%= disc %>"><%= disc %></option>
                                  <% discounts.forEach((row, index) => { %>
                                      <option value="<%= row.discount_name %>"><%= row.discount_name %></option>
                                  <% }) %>
                              </select>
                             
                        </div>
                      </div>
                      <div class="input-group input-group-outline mb-3">                  
                        <textarea type="text" name="description" class="form-control" value=""><%= products.description %></textarea>
                      </div>
                      <div class="input-group input-group-outline mb-3">                   
                          <input type="text" name="stock" class="form-control" value="<%= products.stock %>">
                      </div>
                      <div class="input-group input-group-outline mb-3">                   
                          <input type="text" name="price" class="form-control" value="<%= products.price_unit %>">
                      </div>
                      <div class="input-group input-group-outline mb-3 d-flex"> 
                            <div class="dropdown mx-3">
                                <select id="material" class="form-control">
                                    <option value="<%= products.material %>"><%= products.material %></option>
                                    <option value="wood">Wood</option>
                                    <option value="fibre">Fibre</option>
                                    <option value="brass">Brass</option>
                                    <option value="metal">Metal</option>
                                    <option value="stone">Stone</option>
                                    <option value="bamboo">Bamboo</option>
                                    <option value="copper">Copper-alloy</option>
                                    <option value="handloom">Handloom</option>
                                    <option value="cotton">Cotton</option>
                                    <option value="rosewood">Rosewood</option>
                                    <option value="metalwood">Metal-wood</option>
                                    <option value="Others">Others</option>
                                  </select>
                            </div>
                            <div class="dropdown mx-3">
                                <select id="color" class="form-control">
                                    <option value="<%= products.color %>"><%= products.color %></option>
                                    <option value="brown">Brown</option>
                          <option value="white">White</option>
                          <option value="bronze">Bronze</option>
                          <option value="navyblue">Navy Blue</option>
                          <option value="cream">Cream</option>
                            <option value="orange">Orange</option>
                            <option value="gold">Gold</option>
                            <option value="steel">Steel</option>
                            <option value="green">Green</option>
                            <option value="yellow">Yellow</option>
                            <option value="grey">Grey</option>
                            <option value="blue">Blue</option>
                            <option value="red">Red</option>
                            <option value="charcol">Charcol</option>
                            <option value="multi">Multicolor</option>
                                      
                                  </select>
                            </div>   
                            <div class="mx-3">
                                <select id="type" class="form-control">
                                  <option value="<%= products.product_type %>"><%= products.product_type %></option>
                                  <option value="Decor">decor</option>
                                  <option value="Gifts">gifts</option>
                                  <option value="Toys">toys</option>
                                    <option value="Figurine">figurine</option>
                                    <option value="Accessories">accessories</option>
                                    <option value="eco-friendly">eco-friendly</option>
                                    <option value="kitchen-utensil">kitchen-utensil</option>
                                    <option value="Natural-products">natural-products</option>
                                    <option value="clothes">clothes</option>
                                    <option value="others">others</option>
                                    
                                </select></div>               
                            <div class="input-group input-group-outline mb-3">                   
                                <input type="text" name="size" class="form-control" value="<%= products.size %>">
                            </div>
                            <div class="input-group input-group-outline mb-3">                   
                                <input type="text" name="weight" class="form-control" value="<%= products.weight %>">
                            </div>      
                           
                      </div>
                      <div class="input-group input-group-outline mb-3 d-flex">  
                        <div class="mx-3">
                            <select id="status" class="form-control">
                              <option value="<%= products.status %>"><%= products.status %></option>
                              <option value="new">new</option>
                              <option value="active">active</option>
                              <option value="inactive">inactive</option>                              
                                
                            </select></div> 
                            <div class="mx-3">
                                <select id="list" class="form-control">
                                  <option value="<%= products.isListing %>"><%= products.isListing %></option>
                                  <option value="true">true</option>
                                  <option value="false">false</option>                                                             
                                    
                                </select></div> 
                      <!-- <div>
                           <input type="file" class="form-control mx-3" 
                            value="Images" id="file-input" accept="image/png,image/jpeg" 
                            onchange="handleFileInputChange(event)"  multiple>
                            <p id="num-of-files">No files chosen</p>
                      </div>              -->
                    </div>
                        
                        <div class="text-center d-flex justify-content-end">                         
                            <input type="submit" id="editButton" value="Update" formaction="/update/<%= products._id %>"  class="btn btn-lg bg-gradient-primary btn-lg w-100 mt-4 mb-0 me-2">
                            <input type="submit" id="deleteButton" value="Delete" formaction="/delete/<%= products._id %>"   class="btn btn-lg bg-gradient-primary btn-lg w-100 mt-4 mb-0 me-2">
                        </div>
                      
                    </div>
                  
                </div> 
            </div> 
        </form> 
            <div class="col-6" >
                <% for( let i = 0 ; i< products.images.length ; i++ ) {%>
              
                <% console.log(products.images[i]) %>
                <div style="margin: 5px;
                border: 1px solid #ccc;
                float: block;
                width: 180px;">
                   <div class="d-flex">
                        <a target="_blank" href="#">
                            <img src="<%=`/upload/${products.images[i]}` %>" alt="<%= products.images[i]%>" width="200" height="200">
                        </a> 
                        <div class="d-block ms-4 align-items-center">
                            
                           <a href="/addimage/<%=products._id%>/?image=<%=products.images[i]%>" ><span class="btn btn-sm bg-gradient-secondary w-100">Change</span></a>
                            <button type="button" class="btn btn-sm bg-gradient-secondary w-100" onclick="removeImage('<%=products._id%>','<%=products.images[i]%>')">delete</button> 
                        </div>
                    </div>                   
                </div>
                
            <% } %>  
            <%console.log("products._id")%>

            <%console.log(products._id)%>

                <a href="/addimage/<%=products._id%>"><button type="button" class="btn btn-sm bg-gradient-secondary w-100">add image</button></a>
               <div> 
               
            </div> 
          </div> 
              
       </div>   
  </section>

  <script>

    function removeImage(pdtid,images){
        const data = { 
            pdtid, images
        }
        console.log(data)
        fetch('/removeImage',{
            method:'post',
            headers:{'Content-Type':'application/json'},
            body:JSON.stringify(data)
        })
        .then((res)=>{res.json()})
        .then((success)=>{           
            if(success){
                console.log('success')
                location.href=`/admin/products/update/${pdtid}`
            } else {
                location.href=`/admin/products/update/${pdtid}`
            }

        })

    }
  </script>

  <%- include('../layout/adminFooter') %>