<%- include('../layout/adminHeader') %>
<style>
  .input-group {
    /* display  : flex;
    flex-direction: column; */
  position:relative;
  width : 100%;
  /* //background-color: aqua; */
  margin-bottom: 25px;
}

.input-group input,
.input-group textarea {
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
}

.floating-label {
  position: absolute;
  left: 10px;
  top: 10px;
  pointer-events: none;
  transition: 0.2s ease all;
  color: #aaa;
  font-size: 1rem;
}

input:focus ~ .floating-label,
input:not(:placeholder-shown) ~ .floating-label,
textarea:focus ~ .floating-label,
textarea:not(:placeholder-shown) ~ .floating-label {
  top: -20px;
  left: 10px;
  font-size: 0.8rem;
  color: #474b50;
} 
  .error{
    position:absolute;
    right:8px;
    top:10px;
   color:#ed1557;
   font-size: 13px;
   font-weight: bold;
}

.error i {
    color:seagreen;
}
</style>
<section>   
      <div class="container">
        <%coupon.forEach((cpn)=>{%>
        <form role="form" id="coupon-form" action="/updateCoupon/<%= cpn._id %>" method="post" onsubmit="return validateForm()">    
        <div class="row ">                    
            <div class="col-6">
                <div class="card card-plain">
                    <div class="card-header">
                      <h4 class="font-weight-bolder">Update Coupon</h4>
                      <!-- <p class="mb-0">Enter your email and password to register</p> -->
                    </div>
                    
                   
                    <div class="card-body">             
                      <div class="input-group input-group-outline mb-3">
                         <input type="text" name="coupon" class="form-control" value="<%= cpn.coupon_code %>" onchange="validateCoupon()">
                         <label for="coupon" class="floating-label">Enter Coupon Code eg: FESTIV2024</label>
                         <span id="coupon-error" class="error"></span>
                      </div>
                                        
                      <div class="input-group input-group-outline mb-3">                  
                        <input type="text" id="discount_per" name="discount_per" class="form-control" value="<%= cpn.discount_per %>" onchange="validateDisPer()">
                        <label for="discount_per" class="floating-label">Enter Discount Percentage</label>
                        <span id="discount-error" class="error"></span>
                    </div>
                      <% let originalDate = new Date(cpn.start_date) %>
                      <% let formattedDatecpn = `${originalDate.getDate().toString().padStart(2, '0')}-${(originalDate.getMonth() + 1).toString().padStart(2, '0')}-${originalDate.getFullYear()}`; %>
                      <% let crrtDatecpn = new Date(formattedDatecpn)%>                
                      
                      <div class="input-group input-group-outline mb-3">                   
                          <input type="date" name="start" class="form-control" value="<%=formattedDatecpn%>" required>
                      </div>
                      <%  originalDate = new Date(cpn.expire_date) %>                    
                      <% formattedDatecpn = `${originalDate.getDate().toString().padStart(2, '0')}-${(originalDate.getMonth() + 1).toString().padStart(2, '0')}-${originalDate.getFullYear()}`; %>
                      <% crrtDatecpn = new Date(formattedDatecpn)%>   
                      <div class="input-group input-group-outline mb-3">                   
                          <input type="date" name="end" class="form-control" value="<%=formattedDatecpn%>" required>
                      </div>
                       <div class="input-group input-group-outline mb-3">                   
                           <input type="text" name="min_purch" class="form-control" value="<%= cpn.minimum_purchase %>" onchange="validateMinPurch()">
                           <label for="min_purch" class="floating-label">Enter Minimum Purchase Amount</label>
                           <span id="minpurch-error" class="error"></span>
                        </div>
                       <div class="input-group input-group-outline mb-3">                   
                          <input type="text" name="max_amt" class="form-control" value="<%= cpn.maximum_discount_amt %>" onchange="validateMaxDisc()">
                          <label for="max_amt" class="floating-label">Enter Maximum Discount Amount</label>
                          <span id="maxamt-error" class="error"></span>
                      </div>       
                       
                      </div>
                      
                    </div>
                        
                        <div class="text-center d-flex justify-content-end">                         
                            <input type="submit" id="editcpnButton" value="Update" formaction="/updateCoupon/<%= cpn._id %>"  class="btn btn-lg bg-gradient-primary btn-lg w-100 mt-4 mb-0 me-2">
                            <a href="#" id="openModal"  data-modal-target="#modal" class="btn btn-lg bg-gradient-primary btn-lg w-100 mt-4 mb-0 me-2">delete</a>
                            <!-- <input type="submit" id="deletecpnButton" value="Delete" formaction="/deleteCoupon/<%= cpn._id %>"   class="btn btn-lg bg-gradient-primary btn-lg w-100 mt-4 mb-0 me-2"> -->
                        </div>
                      
                    </div>
                    <% if (errorMessage.length > 0) { %>                
                      <div class="alert alert-danger" role="alert"> <%- errorMessage %>  </div>                  
                  <% } %>
                    <% if (successMessage.length > 0) { %>                
                      <div class="alert alert-success" role="alert"> <%- successMessage %>  </div>                    
                    <% } %>
                </div> 
            </div> 
            <div class="modal" id="modal">
                <div class="closeModal">
                  <a id="closeModal"  data-close-button class="close-button">&times;<a>              
                </div>
                <div class="trash-icon">
                  <span ><i class="fas fa-trash"></i></span>
                </div>
                <div class="modal-body">
                  Are you sure you want to delete this coupon?
                </div>
                <div class="modal-footer">
                  <a id="cancel" data-close-button class="btnmodal btn btn-lg bg-light btn-lg w-25 mt-4 mb-0 me-2">No, cancel</a>
                  <button type="submit" formaction="/deleteCoupon/<%= cpn._id %>" class="btnmodal btn btn-lg bg-gradient-primary btn-lg w-25 mt-4 mb-0 me-2">Yes, I'm sure</button>
                </div>
             </div> 
           

        </form>        
       </div>
       <div id="overlay"></div>
       <%})%>   
  </section>

<script>
  const couponError = document.getElementById('coupon-error')
	const discountError = document.getElementById('discount-error')
	const minpurchError = document.getElementById('minpurch-error')
	const maxamtError = document.getElementById('maxamt-error')	

  function validateCoupon(){
		const coupon = document.getElementById('coupon').value
	
		if(coupon.length === 0){
			couponError.innerHTML = 'Coupon is required'
         couponError.style.display = 'block';
			return false
		}
		if(!coupon.match(/^(?=.*[a-zA-Z])(?=.*[0-9])[a-zA-Z0-9]+$/)){
			couponError.innerHTML = 'Coupon should be valid'
         couponError.style.display = 'block';
			return false
		}
		couponError.innerHTML = '<i class = "fas fa-check-circle"></i>'
		return true
	}
  function validateDisPer(){
		const discount_per = document.getElementById('discount_per').value
	
		if(discount_per.length === 0){
			discountError.innerHTML = 'Discount is required'
			return false
		}

    if(!discount_per.match(/^(?!0(?:\.0+)?$)(?:100(?:\.0+)?|\d{0,2}(?:\.\d+)?)$/)){
      discountError.innerHTML = 'Discount should be valid'
			return false
		}
		
		discountError.innerHTML = '<i class = "fas fa-check-circle"></i>'
		return true
	}

  function validateMinPurch(){
		const min_purch= document.getElementById('min_purch').value
	
		if(min_purch.length === 0){
			minpurchError.innerHTML = 'Amount is required'
			return false
		}
		if(!min_purch.match(/^(?!0)\d{1,4}(?:\.\d+)?$/)){
			minpurchError.innerHTML = 'Amount should be valid'
			return false
		}
		minpurchError.innerHTML = '<i class = "fas fa-check-circle"></i>'
		return true
	}
   function validateMaxDisc(){
		const max_amt= document.getElementById('max_amt').value
	
		if(max_amt.length === 0){
			maxamtError.innerHTML = 'Amount is required'
			return false
		}
		if(!max_amt.match(/^(?!0)\d{1,4}(?:\.\d+)?$/)){
			maxamtError.innerHTML = 'Amount should be valid'
			return false
		}
		maxamtError.innerHTML = '<i class = "fas fa-check-circle"></i>'
		return true
	}

   function validateForm() {
    const isCouponValid = validateCoupon();
    const isDiscountValid = validateDisPer();
    const isMinValid = validateMinPurch();
    const isMaxValid = validateMaxDisc();    
    return isCouponValid && isDiscountValid && isMinValid && isMaxValid ;
  }
</script>
  <%- include('../layout/adminFooter') %>