<%- include('../layout/adminHeader') %>
<section>   
      <div class="container">
        <%offer.forEach((ofr)=>{%>
        
        <div class="row ">                    
            <div class="col-6">
                <div class="card card-plain">
                    <div class="card-header">
                      <h4 class="font-weight-bolder">Update Offer</h4>
                      <!-- <p class="mb-0">Enter your email and password to register</p> -->
                    </div>
                    
                   
                    <div class="card-body">             
                      
                      <div class="input-group input-group-outline mb-3"> 
                      <div class="dropdown mx-3">
                        <select id="offertype" class="form-control">
                            <option value="<%= ofr.offer_type %>"><%= ofr.offer_type %></option>
                            <option value="Product Offer">Product Offer</option>
                            <option value="Category Offer">Category Offer</option>                                        
                              
                          </select></div></div> 
                          <div class="input-group input-group-outline mb-3">
                            <div class="mx-4">
                              <select id="offerName" class="form-control">
                                <option value="No Selection">Select Name</option>                           
                              </select>
                            </div>
                         </div>     
                             
                      <div class="input-group input-group-outline mb-3">                  
                        <input type="text" name="percentage" class="form-control" value="<%= ofr.discount_per %>">
                      </div>
                      <% let originalDate = new Date(ofr.start_date) %>
                      <% let formattedDate = `${originalDate.getDate().toString().padStart(2, '0')}-${(originalDate.getMonth() + 1).toString().padStart(2, '0')}-${originalDate.getFullYear()}`; %>
                      <% let crrtDate = new Date(formattedDate)%>
                      <div class="input-group input-group-outline mb-3">                   
                          <input type="date" name="start" class="form-control" value="<%= crrtDate.getFullYear() %>-<%= (crrtDate.getMonth() + 1).toString().padStart(2, '0') %>-<%= crrtDate.getDate().toString().padStart(2, '0') %>">
                      </div>
                      <%  originalDate = new Date(ofr.expire_date) %>
                      <% formattedDate = `${originalDate.getDate().toString().padStart(2, '0')}-${(originalDate.getMonth() + 1).toString().padStart(2, '0')}-${originalDate.getFullYear()}`; %>
                      <% crrtDate = new Date(formattedDate)%>
                      <div class="input-group input-group-outline mb-3">                   
                          <input type="date" name="end" class="form-control" value="<%= crrtDate.getFullYear() %>-<%= (crrtDate.getMonth() + 1).toString().padStart(2, '0') %>-<%= crrtDate.getDate().toString().padStart(2, '0') %>">
                      </div>
                          
                       
                      </div>
                      
                    </div>
                        
                        <div class="text-center d-flex justify-content-end">                         
                            <button type="button" onclick="offerChange('<%=ofr._id%>')"  class="btn btn-lg bg-gradient-secondary btn-lg w-100 mt-4 mb-0 me-2">change</button>
                            <a href="#" id="openModal"  data-modal-target="#modal" class="btn btn-lg bg-gradient-secondary btn-lg w-100 mt-4 mb-0 me-2">delete</a>
                            
                        </div>

                        <% if (errorMessage.length > 0) { %>                
                          <div class="alert alert-danger text-white mt-6" role="alert"> <%- errorMessage %>  </div>                  
                      <% } %>
                      
                      
                    </div>
                  
                </div> 
            </div> 
           
            <div class="modal" id="modal">
                <div class="closeModal">
                  <a id="closeModal"  data-close-button class="close-button">&times;<a>              
                </div>
                <div class="trash-icon">
                  <span ><i class="fas fa-trash"></i></span>
                </div>
                <div class="modal-body">
                  Are you sure you want to delete this offer?
                </div>
                <div class="modal-footer">
                  <a id="cancel" data-close-button class="btnmodal btn btn-lg bg-light btn-lg w-25 mt-4 mb-0 me-2">No, cancel</a>
                  <button type="button"  onclick="offerDeletion('<%= ofr._id %>')" class="btnmodal btn btn-lg bg-gradient-primary btn-lg w-25 mt-4 mb-0 me-2">Yes, I'm sure</button>
                </div>
             </div> 
           

             
       </div>
       <div id="overlay"></div>
      
  </section>

  <script>
    const initialOfferName ="<%ofr.offer_name%>"
    populateOfferNames('', initialOfferName);

  function populateOfferNames(selectedType, initialOfferName) {
    fetch(`/getNames/${selectedType}`)
    .then(response => response.json())
    .then(data => {
        const offerNameDropdown = document.getElementById('offerName');
        
        // Clear previous options
        offerNameDropdown.innerHTML = '';
        
        // Add default option
        const defaultOption = document.createElement('option');
        defaultOption.value = "No Selection";
        defaultOption.textContent = "Select Name";
        offerNameDropdown.appendChild(defaultOption);
        
        // Populate offerName dropdown with fetched names
        data.names.forEach(name => {
            const option = document.createElement('option');
            option.value = name;
            option.textContent = name;
            
            // Set selected attribute if the name matches the initialOfferName
            if (name === initialOfferName) {
                option.selected = true;
            }
            
            offerNameDropdown.appendChild(option);
        });
    });
}
  
document.getElementById('offertype').addEventListener('change', function() {
    const selectedType = this.value;
    
    // Fetch and populate offerNameDropdown based on selectedType
    populateOfferNames(selectedType, '');
});

function offerChange(offerid){

    const offer_type = document.getElementById('offertype').value
    const offer_name = document.getElementById('offerName').value
    const percentage = document.querySelector('input[name="percentage"]').value
    const start = document.querySelector('input[name="start"]').value
    const end = document.querySelector('input[name="end"]').value

    const changeData = {
      offer_type, offer_name, percentage, start, end
    }
    console.log(changeData)
  fetch(`/updateOffer/${offerid}`,{
    method:"post",
    headers:{
      'Content-Type':'application/json'
    },
    body:JSON.stringify(changeData)
  })
  .then((res)=>res.json())
  .then((data)=>{
    if(data.success){
      location.href='/getOffer'
    } else {
      location.href=`/getUpdateOffer/${offerid}`
    }

  })
}

function offerDeletion(offerid){
  fetch(`/deleteOffer/${offerid}`,{
    method : "post",
    headers:{
      'Content-Type':'application/json'
    }
  })
  .then((res)=>res.json())
  .then((data)=>{
    if(data.success){
      location.href='/getOffer'
    } else {
      location.href=`/getUpdateOffer/${offerid}`
    }

  })
}
  </script>
 <%})%>   
  <%- include('../layout/adminFooter') %>