<%- include('../layout/adminHeader') %>
<div class="container">
<%orders.forEach((odr)=>{%>
        <div class="d-flex">
            <div class="d-block">
                <div class="d-block bottom-line">
                    <p class="text-dark font-weight-bold">Order by:</p>
                
                       
                    <p class="ms-4"><%=odr.userDetails.name%></p>
                    
                </div>
                <div class="stat-box">
                    <p><%=odr.product_list.orderstatus%></p>
                </div>              
                <%let formattedDate = new Date(odr.order_date).toLocaleDateString('en-US', { weekday: 'short', month: 'short', day: 'numeric', year: 'numeric' })%>
                <div class="d-flex">
                    <p>Order date:</p>
                    <p><%=formattedDate%></p>
                </div>
                <%formattedDate = new Date(odr.product_list.delivery_date).toLocaleDateString('en-US', { weekday: 'short', month: 'short', day: 'numeric', year: 'numeric' })%>
                <div class="d-flex">
                    <p>Delivery date:</p>
                    <p><%=odr.product_list.delivery_date%></p>
                </div>
                <div class="but d-block bg-secondary text-white text-center font-weight-bold rounded">
                   <div class=""> <p>Payment</p></div>
                    <p><%=odr.payment%></p>
                    <p>₹<%=odr. product_list.total%></p>
                </div>

            </div>
            <div class="d-block ms-6 bottom-line ">
                <p class="text-dark font-weight-bold">Delivery to:</p>
                <span class="ms-4">
                
                        <p><%=odr.addressDetails.name%></p>
                        <p><%=odr.addressDetails.mobile%></p>
                        <p><%=odr.addressDetails.house%></p>
                        <p><%=odr.addressDetails.street%></p>
                        <p><%=odr.addressDetails.landmark%></p>
                        <p><%=odr.addressDetails.state%></p>
                        <p><%=odr.addressDetails.pincode%></p>
                   
                </span>
            </div>
        </div>
        <div class="">
            <p class="text-dark font-weight-bolder fs-4">Product details</p>
            <table class="table align-items-center mb-0">
                <tbody>
                     <tr>
                        <td>
                             <div class="d-flex px-2 py-1">
                                <div>
                                    <img src="<%= `/upload/${odr.productDetails.images[0]}` %>" class="pdt-img rounded border" >
                                </div>                         
                            </div>
                        </td>
                        <td>
                             <div class="d-block">
                                <p class="text-dark font-weight-bold"><%=odr.productDetails.product_name%></p>
                                <p>₹<%=odr.product_list.price%></p>
                             </div>
                        </td>
                        <td>
                            <div>
                                <p><%=odr.product_list.quantity%></p>
                            </div>
                        </td>
                        <td>
                            <div>
                                <p>₹<%=odr.product_list.total%></p>
                            </div>
                        </td>
                    </tr>                                
                    <tr>
                        <td></td>
                        <td></td>
                        <td>Total</td>
                        <td>
                            <div>
                                <p>₹<%=odr.product_list.total%></p>
                            </div>
                        </td>
                    </tr>
                    
                </tbody>
            
        </div>
        <%})%>

</div>
<%- include('../layout/adminFooter') %>