<%- include('../layout/adminHeader') %>
<div class="row">    
    <div class="col-12">
      <div class="card my-4">
        <div class="card-header p-0 position-relative  mt-n4 mx-3 z-index-2">
          <div class="bg-gradient-primary shadow-primary border-radius-lg pt-2 pb-1 text-center">
            <h6 class="text-white text-capitalize ps-3">Order Details</h6>
          </div>
        </div>
        <div class="card-body px-0 pb-2">
            <div class="table-responsive p-0">
                <% let action = ''%>
            <% if(orders != '') {%>
                
            <table class="table align-items-center mb-0" id="myTable">
                <thead>
                <tr>
                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">S.No</th>
                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7" style="width:100px">Name</th>
                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Product</th>
                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7" style="width:60px">Quantity</th>
                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Delivery Address</th>
                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7" style="width:80px">Price</th>
                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Status</th>
                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7" style="width:80px">Action</th>
                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"></th>
                </tr>
                </thead>
                <tbody>
                <% orders.forEach((row,index)=>{%>
                <tr>
                    <td>
                        <div class="d-flex px-2 py-1">                          
                          <div class="d-flex flex-column justify-content-center">
                            <h6 class="mb-0 text-sm"><%= index+1 %></h6>                          
                          </div>
                        </div>
                    </td>
                        <td>
                            <p class="text-xs font-weight-bold mb-0" style="width:100px"> <%= row.userDetails?.name || 'N/A' %> </p>
                        </td>  
                        <td>
                            <p class="text-xs font-weight-bold mb-0" style="width:200px; overflow:hidden ;"> <%= row.productDetails?.product_name || 'N/A' %> </p>
                        </td>                        
                            <td>
                                <p class="text-xs font-weight-bold mb-0" style="width:60px"> <%= row.product_list.quantity %> </p>
                            </td>                    
                            <td class="align-middle  text-sm">                
                                <p class="text-xs font-weight-bold mb-0" style="width:150px; overflow:hidden ;"><%= row.addressDetails.house %>,<%= row.addressDetails.city %>,<%= row.addressDetails.state %></p>
                            </td>
                        
                    <td class="align-middle  text-sm" >
                    <p class="text-xs font-weight-bold mb-0" style="width:80px"><%= row.product_list.total %> </p>
                </td>
                
                <td class="align-middle  text-sm">
                    <% if (row.product_list.orderstatus === 'delivered'){ %>
                        <span class="badge badge-sm bg-gradient-success">delivered</span>
                    <% } else if (row.product_list.orderstatus === 'packed'){ %>
                        <span class="badge badge-sm bg-gradient-success">packed</span>
                    <% } else if (row.product_list.orderstatus === 'dispatched'){ %>
                        <span class="badge badge-sm bg-gradient-success">dispatched</span>
                    <% } else if (row.product_list.orderstatus === 'shipped'){ %>
                        <span class="badge badge-sm bg-gradient-success">shipped</span>
                    <% } else if(row.product_list.orderstatus === 'pending') { %> 
                        <span class="badge badge-sm bg-gradient-warning">pending</span> 
                        <% } else if(row.product_list.orderstatus === 'cancel request') { %> 
                            <span class="badge badge-sm bg-gradient-warning">cancel request</span>                           
                    <% } else if(row.product_list.orderstatus === 'cancelled') { %> 
                        <span class="badge badge-sm bg-gradient-danger">cancelled</span> 
                    <% } else if(row.product_list.orderstatus === 'return request') { %> 
                        <span class="badge badge-sm bg-gradient-warning">return request</span>                    
                    <% } else if(row.product_list.orderstatus === 'refund received') { %> 
                        <span class="badge badge-sm bg-gradient-success">refund received</span>   
                    <% } else if(row.product_list.orderstatus === 'processing') { %> 
                        <span class="badge badge-sm bg-gradient-warning">processing</span>   
                    <% } %>    
                </td>
               
                <td class="align-middle  text-sm">
                  
                    <% if(row.product_list.orderstatus === 'shipped') { %>                                               
                        <button  type="button" onclick="pendingOrder('<%=row._id%>','<%=row.productDetails._id%>','<%=row.userDetails._id%>')" class="badge badge-sm bg-gradient-warning">complete</button>                
                    <% } else if(row.product_list.orderstatus === 'cancel request') { %> 
                       <button type="button" onclick="approveCancel('<%=row._id%>','<%=row.productDetails._id%>')" class="badge badge-sm bg-gradient-warning">approve cancel</button>
                    <% } else if(row.product_list.orderstatus === 'return request') { %> 
                       <button  type="button" onclick="approveReturn('<%=row._id%>','<%=row.productDetails._id%>')" class="badge badge-sm bg-gradient-warning">approve return</button>              
                    <% } else if(row.product_list.orderstatus === 'pending') { %> 
                        <% action = 'approve'%>                        
                        <button type="submit" onclick="changeStatus('<%=row._id%>','<%=row.productDetails._id%>','<%=action%>')"   class="badge badge-sm bg-gradient-warning">approve</button>              
                    <% } else if(row.product_list.orderstatus === 'processing') { %> 
                        <% action = 'to pack'%>  
                      <button  type="button"  onclick="changeStatus('<%=row._id%>','<%=row.productDetails._id%>','<%=action%>')" class="badge badge-sm bg-gradient-warning">To pack</button>                   
                    <% } else if(row.product_list.orderstatus === 'packed') { %> 
                        <% action = 'to dispatch'%>  
                       <button  type="button"  onclick="changeStatus('<%=row._id%>','<%=row.productDetails._id%>','<%=action%>')" class="badge badge-sm bg-gradient-warning">To dispatch</button>                    
                    <% } else if(row.product_list.orderstatus === 'dispatched') { %> 
                        <% action = 'to ship'%>  
                       <button  type="button"  onclick="changeStatus('<%=row._id%>','<%=row.productDetails._id%>','<%=action%>')" class="badge badge-sm bg-gradient-warning">To ship</button>                   
                    <% } else if (row.product_list.orderstatus === 'delivered' ||row.product_list.orderstatus ===  'cancelled' ||row.product_list.orderstatus ===  'refund received'){ %>
                        <span class="badge badge-sm bg-gradient-success">No Action</span>
                    <% }%>                         
                </td>
               
                    <td class="align-middle">
                    <a href="/orderDetails/<%= row._id %>/<%=row.productDetails._id%>" class="text-secondary font-weight-bold text-xs" data-toggle="tooltip" data-original-title="Edit user">
                    Show more
                    </a>
                    </td>
                    
                </tr>
               
                <% }) %>
                </tbody>
            </table>

            <% } else {%>
            <h1 class="text-center text-secondary mt-5">No order placed yet!!</h1>
        <% } %>
        </div>
        </div>
    </div>
</div>

</div>

<script>
    // alert("checking..")
   function pendingOrder(odrid,pdtid,userid) {
   // alert("button clicked")
    

    fetch(`/orderPending/${odrid}/${pdtid}/${userid}`, {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json'
        }
        
    })
    .then(res=>res.json())
    .then(data=>{
            if( data.success ){
                location.href = '/orderManage'
            } else {
                location.href = '/orderManage'
            }
        })
    .catch(error => {
        console.error('Fetch Error:', error);
    });
}

     function changeStatus(odrid,pdtid,action){
        fetch(`/statusChanging/${odrid}/${pdtid}/${action}`,{
            method:'post',
            headers : {
                'Content-Type' : 'application/json'
            }            
        })
        .then(res=>res.json())
        .then(data=>{
            if( data.success ){
                location.href = '/orderManage'
            } else {
                location.href = '/orderManage'
            }
        })

    }

    function approveCancel(ordrid,pdtid){
        fetch(`/cancelapprove/${ordrid}/${pdtid}`,{
            method:'post',
            headers : {
                'Content-Type' : 'application/json'
            }            
        })
        .then(res=>res.json())
        .then(data=>{
            if( data.success ){
                location.href = '/orderManage'
            } else {
                location.href = '/orderManage'
            }
        })

    }
    function approveReturn(ordrid,pdtid){
        fetch(`/returnapprove/${ordrid}/${pdtid}`,{
            method:'post',
            headers : {
                'Content-Type' : 'application/json'
            }            
        })
        .then(res=>res.json())
        .then(data=>{
            if( data.success ){
                location.href = '/orderManage'
            } else {
                location.href = '/orderManage'
            }
        })

    }

</script>


<%- include('../layout/adminFooter') %>