<%- include('../layout/adminHeader') %>

<%- include('../layout/adminHeader') %>

<div class="container-fluid py-4">
    <div class="row">
      <input type = 'submit' value = 'Add Products' class="btn bg-gradient-success">
      <div class="col-12">
        <div class="card my-4">
          <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
            <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
              <h6 class="text-white text-capitalize ps-3">Product Details</h6>
            </div>
          </div>
          <div class="card-body px-0 pb-2">
            <div class="table-responsive p-0">
                <!-- <% if(products != '') {%> -->
              <table class="table align-items-center mb-0">
                <thead>
                  <tr>
                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">S.No</th>
                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Product Name</th>
                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Category</th>
                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Desciption</th>
                    <th class="text-secondary opacity-7">Sale price</th>
                    <th class="text-secondary opacity-7">Qty</th>
                    <th class="text-secondary opacity-7">Image</th>
                    <th class="text-secondary opacity-7"></th>
                  </tr>
                </thead>
                <tbody>
                    <!-- <% users.forEach((row,index)=>{%> -->
                  <tr>
                    <td>
                      <div class="d-flex px-2 py-1">
                        <!-- <div>
                          <img src="../assets/img/team-2.jpg" class="avatar avatar-sm me-3 border-radius-lg" alt="user1">
                        </div> -->
                        <div class="d-flex flex-column justify-content-center">
                          <!-- <h6 class="mb-0 text-sm"><%= row.name %></h6> -->
                          <!-- <p class="text-xs text-secondary mb-0">john@creative-tim.com</p> -->
                        </div>
                      </div>
                    </td>
                    <td>
                      <!-- <p class="text-xs font-weight-bold mb-0"><%= row.email %></p> -->
                      <!-- <p class="text-xs text-secondary mb-0">Organization</p> -->
                    </td>
                    <td class="align-middle  text-sm">
                        <!-- <p class="text-xs font-weight-bold mb-0"><%= row.phone %></p> -->
                    </td>
                    <!-- <td class="align-middle">
                        <% if (row.status === 'verified'){ %>
                            <span class="badge badge-sm bg-gradient-success">Verified</span>
                        <% } else if(row.status === 'pending') { %> 
                            <span class="badge badge-sm bg-gradient-warning">Pending</span>                           
                        <% } else if(row.status === 'blocked') { %> 
                            <span class="badge badge-sm bg-gradient-danger">Blocked</span>   
                        <% } else if(row.status === 'deleted') { %> 
                            <span class="badge badge-sm bg-gradient-secondary">Deleted</span>   
                        <% } %>     
                    
                    </td> -->
                    <td class="align-middle">
                      <!-- <a href="/admin/customer/update/<%= row._id %>" class="text-secondary font-weight-bold text-xs" data-toggle="tooltip" data-original-title="Edit user"> -->
                       Show more
                      </a>
                    </td>
                    
                  </tr>
                  <!-- <% }) %> -->
                </tbody>
            </table>
            <!-- <% } else {%>
                <h1 class="text-center text-secondary mt-5">No user found in the database</h1>
            <% } %> -->
          </div>
        </div>
      </div>
    </div>
  </div>

  <%- include('../layout/adminFooter') %>

<%- include('../layout/adminFooter') %>