<%- include('../layout/profileHeader') %>
<style>
    .error{         
        color:#ed1557;
        font-size: 13px;
        font-weight: bold;
        margin-left: 10px;
     }
     
     .error i {
         color:seagreen;
     }
</style>
<div class="d-flex justify-content-center align-items-center" style="width:1210px;">
    <div class="">
    <%if(address){%>
        <form action="/editnewAddress/<%=address._id%>" method="post" onsubmit="return validateForm()">
        <div class="d-flex justify-content-center align-items-center"><span style="font-weight:600;font-size:28px;color:#4F0341;margin-left:-100px;">Change Address</span></div>
       <div class="addr-box" style="width:650px;">           
                  
                    <div  class="m-3 d-flex">
                        <span class="addrs-text-box text-span">Name</span>
                        <input class="addrs-text-box" type="text" id="name" name="name"  value="<%= address.name %>" onkeyup="validateName()">
                        <span id="name-error" class="error"></span>                    
                    </div>
                    <div  class="m-3 d-flex">
                        <span class="addrs-text-box text-span">Mobile</span>
                        <input class="addrs-text-box" type="text" id="mobile" name="mobile"  value="<%= address.mobile %>" onkeyup="validateMobile()">
                        <span id="phone-error" class="error"></span>                    
                    </div >
                    <div  class="m-3 d-flex">
                        <span class="addrs-text-box text-span">Pin No</span>
                        <input class="addrs-text-box" type="text" name="pin" id="pin"  value="<%= address.pincode %>" onkeyup="validatePin()">
                        <span id="pin-error" class="error"></span>                    
                    </div>
                    <div  class="m-3 d-flex">
                        <span class="addrs-text-box text-span">House</span>
                        <input class="addrs-text-box" type="text" name="house" id="house"  value="<%= address.house %>" onkeyup="validateHouse()">
                        <span id="house-error" class="error"></span>                    
                    </div>
                    <div  class="m-3 d-flex">
                        <span class="addrs-text-box text-span">Street</span>
                        <input class="addrs-text-box" type="text" name="street" id="street"  value="<%= address.street %>" onkeyup="validateStreet()">
                        <span id="street-error" class="error"></span>                    
                    </div>               
                    <div  class="m-3 d-flex">
                        <span class="addrs-text-box text-span">Landmark</span>
                        <input class="addrs-text-box" type="text" name="landmark" id="landmark"  value="<%= address.landmark %>" onkeyup="validateLandmark()">
                        <span id="landmark-error" class="error"></span>                    
                    </div>                
                    <div  class="m-3 d-flex">
                        <span class="addrs-text-box text-span">City</span>
                        <input class="addrs-text-box" type="text" name="city" id="city" value="<%= address.city %>" onkeyup="validateTown()">
                        <span id="city-error" class="error"></span>                    
                    </div>
                    <div  class="m-3 d-flex">
                        <span class="addrs-text-box text-span">State</span>
                        <input class="addrs-text-box" type="text" name="state" id="state"  value="<%= address.state %>" onkeyup="validateState()">
                        <span id="state-error" class="error"></span>                    
                    </div>
                    <div  class="m-3 d-flex">
                        <span class="addrs-text-box text-span">Country</span>
                        <input class="addrs-text-box" type="text" name="country" id="country" value="<%= address.country %>" onkeyup="validateCountry()">
                        <span id="country-error" class="error"></span>                    
                    </div>
                    
                
                <div  class="m-3">
                    <button type="submit" class="use-but ord-but  text-white" style="background-color: #4F0341; width:400px;margin-left:0px;height:50px;">Save this address</button>
                </div>
                
        </div>
    </form>
        <% if (errorMessage.length > 0) { %>                
            <div id="errorMessageDiv" class="alert alert-danger mt-3" role="alert"> <%- errorMessage %>  </div>                
                             <script>                                
                               setTimeout(function() {
                                  var errorMessageDiv = document.getElementById("errorMessageDiv");
                                  if (errorMessageDiv) {
                                      errorMessageDiv.style.display = "none";
                                  }
                              }, 4000); 
                          </script>
          <% } %>
          <% if (successMessage.length > 0) { %>                
            <div id="successMessageDiv" class="alert alert-success" role="alert"> <%- successMessage %>  </div>                    
            <script>                                
              setTimeout(function() {
                 var successMessageDiv = document.getElementById("successMessageDiv");
                 if (successMessageDiv) {
                  successMessageDiv.style.display = "none";
                 }
             }, 4000); 
         </script>
            <% } %>
    </div>
    <%}%>
    </div>
</div>
<script src="/js/validate.js"></script>

<%- include('../layout/userFooter') %>