<%- include('../layout/profileHeader') %>
  
    <div class="d-block" style="width:1290px;">
       
        
          
      
        <%orders.forEach((odr)=>{%> 
           
        <div style="margin-top: 20px;margin-left: 25px;">
            <%if (odr.product.orderstatus === 'delivered' || odr.product.orderstatus ===  'cancelled' ||odr.product.orderstatus ===  'refund received'){ %>
            <p class="text-dark text-uppercase" style="font-size: 20px;font-weight: 600;"><strong>Order Completed</strong></p>
            <%} else {%>
            <p class="text-dark text-uppercase" style="font-size: 20px;font-weight: 600;"><strong>Track your Order</strong></p>
           
                <div class="d-flex mb-4">            
                    <%if(odr.product.orderstatus === 'pending' || odr.product.orderstatus === 'processing' ){%>
                        
                    <span class="ord-active">Placed-----</span><span class="ord-active">Processing-----</span>
                    <span>Packed----</span><span>Dispatched----</span><span>Shipped----</span><span>Arrived at destination</span>
                    
                    <%} else if(odr.product.orderstatus === 'packed'){%>
                        <span class="ord-active">Placed-----</span><span class="ord-active">Processing-----</span>
                        <span class="ord-active">Packed-----</span><span>Dispatched----</span><span>Shipped----</span><span>Arrived at destination</span>
                    
                    <%} else if(odr.product.orderstatus === 'dispatched'){%>
                        <span class="ord-active">Placed-----</span><span class="ord-active">Processing-----</span>
                        <span class="ord-active">Packed-----</span><span class="ord-active">Dispatched-----</span><span>Shipped----</span><span>Arrived at destination</span>
                    
                    <%} else if(odr.product.orderstatus === 'shipped'){%>
                        <span class="ord-active">Placed-----</span><span class="ord-active">Processing-----</span>
                        <span class="ord-active">Packed-----</span><span class="ord-active">Dispatched-----</span><span class="ord-active">Shipped-----</span><span>Arrived at destination</span>
                    
                    <%} else if(odr.product.orderstatus === 'delivered' || odr.product.orderstatus === 'refund received'){%>
                        <span class="ord-active">Placed-----</span><span class="ord-active">Processing-----</span>
                        <span class="ord-active">Packed-----</span><span class="ord-active">Dispatched-----</span><span class="ord-active">Shipped-----</span><span class="ord-active">Arrived at destination</span>
                    <%}%>
             
            </div>
            <%}%> 
            
        </div> 
        <div class="row ord-box" style="width: 900px;">
                
                <div>
                    <!-- /userasset/images -->
                    <img src="<%= `/upload/${odr.productDetails.images[0]}` %>"  class="pdt-img rounded border" >
                </div>

                <%let formattedDate = new Date(odr.order_date).toLocaleDateString('en-US', { weekday: 'short', month: 'short', day: 'numeric', year: 'numeric' })%>
                    
                <div class="pdt-det">
                    <div class="d-flex">
                        <p class="text-dark text-uppercase mb-0"><%=odr.productDetails.product_name%></p>
                       
                    </div>

                    <div class="d-flex">
                        <p class="text-dark text-uppercase mb-0">Order placed:</p>
                        <p><%= formattedDate%></p>
                    </div>

                    <%  formattedDate = new Date(odr.product.delivery_date).toLocaleDateString('en-US', { weekday: 'short', month: 'short', day: 'numeric', year: 'numeric' })%>
                    <div class="d-flex">
                        <p class="text-dark fs-3 font-weight-bold mb-0">Expected Delivery:</p>
                        <p><%= formattedDate %></p>
                    </div>
                    <div class="d-flex">
                        <p class="text-dark text-uppercase mb-0">Payment Method:</p>
                        <p><%= odr.payment%></p>
                    </div>
                </div>
                <div class="pdt-det box-wid">
                    <p class="text-dark text-uppercase mb-0">Total:</p>
                    <p><%= odr.product.total%></p>
                </div>
                
                <div class="pdt-det d-block box-wid">
                    <p class="text-dark text-uppercase mb-0">Ship To:</p>
                    <div><span class=""><%=odr.addressDetails.name%></span></div>
                    <div><span><%=odr.addressDetails.house%></span></div>
                    <div><span><%=odr.addressDetails.city%></span></div>
                </div>
               
               

                
            </div>
               
                    <%if (odr.product.orderstatus === 'delivered' ||odr.product.orderstatus ===  'cancelled' ||odr.product.orderstatus ===  'refund received'){ %>
                        <div><a href="/viewProduct/<%= odr.productDetails._id %>"><button class="use-but ord-but bg-light text-center text-dark">Buy Again</button></a></div>
                    <%}%> 
              
            <%})%>
        




 </div>


</div>




  <%- include('../layout/userFooter') %>

  