<%- include('../layout/profileHeader') %>
  
    <div class="d-block">
       
          
        <div class="d-flex">
            <div >   
                <a href="/getOrder"><p class="bottom-line border-bottom border-success mx-4 p-0">Orders</p></a>         
            </div>            
        </div>

        <div>
            <div class="dropdown mr-1 ml-md-auto">
                <button type="button" class="btn btn-secondary btn-sm dropdown-toggle" id="dropdownMenuOffset" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Order by date
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuOffset">
                  <a class="dropdown-item" href="/orderlast30">Last 30 days</a>
                  <a class="dropdown-item" href="/order2023">2023</a>
                  <a class="dropdown-item" href="/order2022">2022</a>
                  <a class="dropdown-item" href="/order2021">2021</a>
                  <a class="dropdown-item" href="/oldorders">older</a>
                </div>
        </div>


        <div>
            <p class="text-dark text-uppercase">My Recent Orders</p>
        </div>
        <%orders.forEach((odr)=>{%>            
                    
       <div> 
        <div class="row ord-box">
                
                <div>
                    <img src="../upload/<%=odr.productDetails.images[0]%>" class="pdt-img rounded border" >
                </div>

                <%let dateString =  odr.order_date %>
                <%let date = new Date(dateString)%>

                <%let options = { weekday: 'short', month: 'short', day: 'numeric', year: 'numeric' }%>
                <%let formattedDate = date.toLocaleDateString('en-US', options)%>
                    
                <div class="pdt-det">
                    <div class="d-flex">
                        <p class="text-dark text-uppercase mb-0"><%=odr.productDetails.product_name%></p>
                       
                    </div>

                    <div class="d-flex">
                        <p class="text-dark text-uppercase mb-0">Order placed:</p>
                        <p><%= formattedDate%></p>
                    </div>

                    <%  dateString =  odr.delivery_date %>
                    <%  date = new Date(dateString)%>

                    <%  options = { weekday: 'short', month: 'short', day: 'numeric', year: 'numeric' }%>
                    <%  formattedDate = date.toLocaleDateString('en-US', options)%>
                    <div class="d-flex">
                        <p class="text-dark fs-3 font-weight-bold mb-0">Expected Delivery:</p>
                        <p><%= formattedDate %></p>
                    </div>
                    <div class="d-flex">
                        <p class="text-dark text-uppercase mb-0">Payment Method:</p>
                        <p><%= odr.payment%></p>
                    </div>
                </div>
                <div class="pdt-det box-wid">
                    <p class="text-dark text-uppercase mb-0">Total:</p>
                    <p><%= odr.payment_amount%></p>
                </div>
                
                <div class="pdt-det d-block box-wid">
                    <p class="text-dark text-uppercase mb-0">Ship To:</p>
                    <div><span class=""><%=odr.addressDetails.name%></span></div>
                    <div><span><%=odr.addressDetails.house%></span></div>
                    <div><span><%=odr.addressDetails.city%></span></div>
                </div>
                   
                <div class="pdt-det box-wid">
                    <p class="text-dark text-uppercase mb-0">Status:</p>
                    <p><%=odr.orderstatus%></p>
                </div>

                <div class="d-block">
                    <div><a href="/viewProduct/<%= odr.productDetails._id %>"><button class="use-but ord-but bg-light text-center text-dark">Buy Again</button></a></div>
                    <div><a href="/review"><button type="submit" class="use-but ord-but bg-light text-center text-dark">Write a review</button></a></div>
                    <% if (odr.orderstatus === 'pending'){%>
                        <div><a href="/cancelPage/<%= odr._id %>"><button type="submit" class="use-but ord-but bg-light text-center text-dark">Cancel Order</button></a></div>
                    <%} else if(odr.orderstatus === 'delivered'){%> 
                        <div><a href="/returnPage/<%= odr._id %>"><button type="submit" class="use-but ord-but bg-white text-dark">Return Product</button></a></div>  
                    <%}%>
                </div>   
            </div>



            
        
<%})%> <!--  orders -->

<div class="row" data-aos="fade-up">
    <div class="col-md-12 text-center">
      <div class="site-block-27">
        <ul>         
          <% for(let i = 1 ; i <= pages ; i++){%>
            <% if( i== pageNum ) {%>
             <li class="active"><a href="/getOrder/?page=<%= i %>"><span><%= i %></span></a></li>
            <% } else { %>
            <li><a href="/getOrder/?page=<%= i %>"><span><%= i %></span></a></li>
            <% } %>
          <% } %>         
        </ul>
      </div>
    </div>
  </div>
</div>

 </div>
 <!-- pagination -->



</div>
</div>




  <%- include('../layout/userFooter') %>

  