<%- include('../layout/profileHeader') %>
         
                    
  <div class="d-block" style="width: 1210px;"> 
    <div>
        <p class="wallet-head">My Balance :&nbsp;&nbsp;<span>₹&nbsp;<%= users.wallet%></span></p>
    </div>
   
    <% if(!orders || orders.length === 0) {%>
        <div class="d-flex justify-content-center align-items-center">
           <div class="d-block"> 
                <div>
                    <img width="450" height="300" src="/userasset/images/wallet-empty.png" />
                </div>
                <div class="d-flex justify-content-center align-items-center">
                    <a href="/allproducts" class="use-but ord-but text-center text-white" style="background-color:#4F0341 ;">Go to Shopping</a>
                </div>
            </div>
        </div>

    <%} else if(orders){%>       
    
            <%orders.forEach((odr)=>{%>   
            <div class="row ord-box">
                
                    <div class="wallet-align">
                    <div><img src="../upload/<%=odr.productDetails.images[0]%>" class="pdt-img rounded border" ></div>
                    </div>&nbsp;&nbsp;

                    <div class="wallet-align  wal-name" style="width:400px;">
                        <p class="text-uppercase mb-0"><%=odr.productDetails.product_name%></p>
                    </div>&nbsp;&nbsp;
                    <div class="wallet-align wal-name" style="width:200px;">
                        <p class="text-dark text-uppercase mb-0">₹<%= odr.payment_amount%></p>
                    </div>

                <%let dateString =  odr.order_date %>
                <%let date = new Date(dateString)%>

                <%let options = { weekday: 'short', month: 'short', day: 'numeric', year: 'numeric' }%>
                <%let formattedDate = date.toLocaleDateString('en-US', options)%>
                    
                    <div class="wallet-align wal-name">              
                        <p class="text-dark text-uppercase mb-0"><%= formattedDate%></p>
                    </div>
                
            </div>    
           <%})%>    

    <div class="row" data-aos="fade-up">
        <div class="col-md-12 text-center">
            <div class="site-block-27">
                <ul>         
                    <% for(let i = 1 ; i <= pages ; i++){%>
                    <% if( i== pageNum ) {%>
                        <li class="active"><a href="/getOrder/?page=<%= i %>"><span><%= i %></span></a></li>
                    <% } else { %>
                    <li><a href="/getOrder/?page=<%= i %>"><span><%= i %></span></a></li>
                    <% } %>
                    <% } %>         
                </ul>
            </div>
        </div>
    </div>

    <%}%>
</div>
</div>


  </div>

  <%- include('../layout/userFooter') %>