<%- include('../layout/profileHeader') %>
  <div class="p-4 d-block" style="width:1250px;">

    <% if(!address || address.length === 0) {%>
      <div class="d-flex justify-content-center align-items-center" style="margin-top:40px;">
        <div class="d-block"> 
             <div>
                 <img width="500" height="350" src="/userasset/images/address-empty.png" />
             </div>
             <div class="d-flex justify-content-center align-items-center" style="margin-top:20px;">
                 <a href="/getNewAddress" class="use-but ord-but text-center text-white" style="background-color:#4F0341 ;">Add new address</a>
             </div>
         </div>
     </div>
        <%} else if (address) {%>
    <div class="row mb-5 ms-4">
    <div class="mb-4 ms-5 bg-success" data-aos="fade-up" >  
    <div class="d-flex" style="max-width:100vw ;">
    
      <div class="add-addr block-4" style="font-size:16px;">
        <a class="text-center" href="/getNewAddress">
        <div class="d-block">
          <div><span style="font-size: 25px;">+</span> </div>
          <div><span>Add New Address</span></div>
        </div>
        </a>
      </div>
        <%address.forEach((adr,index)=>{%>
          
          <div class="addr-body block-4">
            <div class="d-block">
            <% if(adr.isDefault){%>
              <div class="bottom-line"><span>Default</span></div>
            <%}%>
            <div><span><%= adr.name %></span></div>
            <div><span><%= adr.house %></span></div>
            <div><span><%= adr.street%></span></div>
            <div class="d-flex">
              <div><span><%= adr.city%></span></div>
              <div><span><%= adr.state%></span></div>
              <div><span><%= adr.pin%></span></div>
            </div>            
            <div><span><%= adr.country%></span></div>
            <div><span><%= adr.mobile%></span></div>
            <div class="bottom-line"></div>
            <div class="d-flex">
                <div><a href="/getEditAddress/<%= adr._id %>">Edit</a></div>&nbsp;&nbsp;|&nbsp;&nbsp;
                <div><button type="button" class="border-0 text-primary" style="background: transparent;" onclick="removeaddr('<%= adr._id %>')"> Remove</button></div>
                <% if(!adr.isDefault){%>
                  &nbsp;&nbsp;|&nbsp;&nbsp;<div><button type="button" style="background: transparent;" class="border-0 text-primary" onclick="setDefault('<%= adr._id %>')">set as default</button></div>
                <%}%>
            </div>
          </div>
        </div>
      
        <%})%>
      <%}%>
        <!--  -->
      </div>
    </div>
    </div>
  </div>
   
 

  </div>

  <script>
    //adding to cart
    function removeaddr(adrid){
      fetch(`/removeAddress/${adrid}`,{
        method : "post",
        headers : {
          "Content-Type" :"application/json"
        }
      })
      .then(res=>res.json())
      .then(data=>{
        if(data.success){
          location.href = '/getAddress'
        } else {
          location.href = '/getAddress'
        }
      })
    }

    //remove from list
    function setDefault(adrid){
      fetch(`/setAddress/${adrid}`,{
        method : "post",
        headers : {
          "Content-Type" :"application/json"
        }
      })
      .then(res=>res.json())
      .then(success=>{
        if(success){
          location.href = '/getAddress'
        } else {
          location.href = '/getAddress'
        }
      })
    }
  </script>
<%- include('../layout/userFooter') %>
 