<%- include('../layout/profileHeader') %>
  
    <div class="d-block" style="width:1290px;">
       
        <% if(!orders || orders.length === 0) {%>
            <div class="d-flex justify-content-center align-items-center" style="margin-top:40px;">
               <div class="d-block"> 
                    <div>
                        <img width="500" height="350" src="/userasset/images/order-empty.png" />
                    </div>
                    <div class="d-flex justify-content-center align-items-center" style="margin-top:20px;">
                        <a href="/allproducts" class="use-but ord-but text-center text-white" style="background-color:#4F0341 ;">Go to Shopping</a>
                    </div>
                </div>
            </div>
    
        <%} else if(orders){%>   
          
        <div class="d-flex">
            <div >   
                <a href="/getOrder"><p class="bottom-line border-bottom border-success mx-4 p-0">Orders</p></a>         
            </div>            
        </div>

        <div>
            <div class="dropdown mr-1 ml-md-auto">
                <button type="button" class="btn btn-secondary btn-sm dropdown-toggle" id="dropdownMenuOffset" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Order by date
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuOffset">
                  <a class="dropdown-item" href="/getOrder/?cond=30days">Last 30 days</a>
                  <a class="dropdown-item" href="/getOrder/?cond=2023">2023</a>
                  <a class="dropdown-item" href="/getOrder/?cond=2022">2022</a>
                  <a class="dropdown-item" href="/getOrder/?cond=2021">2021</a>
                  <a class="dropdown-item" href="/getOrder/?cond=older">older</a>
                </div>
        </div>


        <div>
            <p class="text-dark text-uppercase">My Recent Orders</p>
        </div>
        <%orders.forEach((odr)=>{%>            
                    
       <div> 
        <div class="row ord-box">
                
                <div>
                    <img src="<%= `/upload/${odr.productDetails.images[0]}` %>" class="pdt-img rounded border" >
                </div>

                
                <%let formattedDate = new Date(odr.order_date).toLocaleDateString('en-US', { weekday: 'short', month: 'short', day: 'numeric', year: 'numeric' })%>
                    
                <div class="pdt-det">
                    <div class="d-flex">
                        <p class="text-silver font-weight-bold text-uppercase mb-2">ORDR_<%=odr._id%></p>
                       
                    </div>
                    <div class="d-flex">
                        <p class="text-secondary font-weight-bold text-uppercase mb-0"><%=odr.productDetails.product_name%></p>
                       
                    </div>

                    <div class="d-flex">
                        <p class="text-dark text-uppercase mb-0">Order placed:</p>
                        <p><%= formattedDate%></p>
                    </div>
                    
                    
                        
                        <% formattedDate = new Date(odr.product_list.delivery_date).toLocaleDateString('en-US', { weekday: 'short', month: 'short', day: 'numeric', year: 'numeric' })%>
                        
              
                    <div class="d-flex">
                        <p class="text-dark fs-3  mb-0">Expected Delivery:</p>
                        <p><%= formattedDate %></p>
                    </div>
                    <div class="d-flex">
                        <p class="text-dark text-uppercase mb-0">Payment Method:</p>
                        <p><%= odr.payment%></p>
                    </div>
                </div>
                <div class="pdt-det box-wid">
                    <p class="text-dark text-uppercase mb-0">Total:</p>
                    <p class="font-weight-bold"><%=odr.product_list.total%></p>
                </div>
                
                <div class="pdt-det d-block box-wid">
                    <p class="text-dark text-uppercase mb-0">Ship To:</p>
                    <div><span class=""><%=odr.addressDetails.name%></span></div>
                    <div><span><%=odr.addressDetails.house%></span></div>
                    <div><span><%=odr.addressDetails.city%></span></div>
                </div>
               
                <div class="pdt-det box-wid">
                    <p class="text-dark text-uppercase mb-0">Status:</p>
                    <% if(odr.product_list.paymentstatus === 'pending' && odr.payment === 'Razorpay'){%>
                        <p class="text-danger">Payment Failed</p>
                    <%} else {%>
                        <p class="text-success"><%=odr.product_list.orderstatus%></p>
                    <%}%>
                </div>

                <div class="d-block">
                    <div><a href="/getInvoice/<%= odr._id %>/<%= odr.productDetails._id %>"><button class="use-but ord-but bg-light text-center text-dark">Invoice</button></a></div>
                    <div><a href="/getOrderView/<%= odr._id %>/<%= odr.productDetails._id %>"><button class="use-but ord-but bg-light text-center text-dark">View Details</button></a></div>
                    <!-- <div><a href="/review"><button type="submit" class="use-but ord-but bg-light text-center text-dark">Write a review</button></a></div> -->
                    <% if(odr.product_list.paymentstatus === 'pending' && odr.payment === 'Razorpay'){%>
                        <div><button type="button" class="use-but ord-but bg-warning text-dark" onclick="continueFailedPayment('<%= odr._id %>','<%= odr.productDetails._id %>')">Pay again</button></a></div> 
                    <%} else  if (odr.product_list.orderstatus === 'pending'){%>
                        <div><a href="/cancelPage/<%= odr._id %>/<%= odr.productDetails._id %>"><button type="submit" class="use-but ord-but bg-light text-center text-dark">Cancel Order</button></a></div>
                    <%} else if(odr.product_list.orderstatus === 'delivered'){%> 
                        <div><a href="/returnPage/<%= odr._id %>/<%= odr.productDetails._id %>"><button type="submit"  class="use-but ord-but bg-white text-dark">Return Product</button></a></div>  
                        <div><a href="/getReview/<%= odr.productDetails._id %>"><button type="submit" class="use-but ord-but bg-white text-dark">Write a Review</button></a></div> 
                        
                        <%}%>
                    
                </div>   
            </div>
            
      
            <%})%>
            
        
<!--  orders -->

<div class="row" data-aos="fade-up">
    <div class="col-md-12 text-center">
      <div class="site-block-27">
        <ul>         
          <% for(let i = 1 ; i <= pages ; i++){%>
            <% if( i== pageNum ) {%>
             <li class="active"><a href="/getOrder/?page=<%= i %>"><span><%= i %></span></a></li>
            <% } else { %>
            <li><a href="/getOrder/?page=<%= i %>"><span><%= i %></span></a></li>
            <% } %>
          <% } %>         
        </ul>
      </div>
    </div>
  </div>
</div>

 </div>
 <!-- pagination -->
<%}%>


</div>
</div>
<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<script>
    function continueFailedPayment(odrid,pdtid){
        event.preventDefault()
        fetch('/continueFailedPayment', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ orderid: odrid,prdtid:pdtid})
        })
            .then(res => res.json())
            .then(res => {
                
                if(res.success){
                var options = {
                        
                        "key": "" +res.key_id+ "", // Enter the Key ID generated from the Dashboard
                        "amount": "" +res.amount+ "", // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
                        "currency": "INR",
                        "name": "TraditioShoppe",
                        "description": "Test Transaction",
                        "image": "/userasset/images/logo.png",
                        "order_id": "" +res.order_id+ "", //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
                        "handler": function(response){
                           verifyPayment(response,res.razorder,odrid,pdtid)
                        },
                        "prefill": {
                            "name": ""+res.name+"",
                            "email": ""+res.email+"",
                            "contact":""+res.contact+""
                        },
                        "notes": {
                            "address": "Razorpay Corporate Office"
                        },
                        "theme": {
                            "color": "#4F0341"
                        }
                    };
                    
                    var rzp1 = new Razorpay(options); 
                    rzp1.on('payment.failed', function (resp) {
                        console.log('error:', resp.error.code);
                        console.log('error:', resp.error.description);
                        console.log('error:', resp.error.source);
                        console.log('error:', resp.error.step);
                        console.log('error:', resp.error.reason);
                        console.log('error:', resp.error.metadata.order_id);
                        console.log('error:', resp.error.metadata.payment_id);
                        paymentFailed(resp)
                        location.href = `/getOrder`
                        //location.href = `/checkout/${cartid}/${total}`
                    });             
                    
                    rzp1.open();
                }
            })
            .catch(err => {
                console.log('error:', err)
            })
    }

    async function verifyPayment(payment, order,odrid,pdtid) {
        try {
            fetch('/verifyPaymentFailed', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ payment: payment, razorOrder: order})
            })
                .then(res => res.json())
                .then(data => {
                    if (data.success) {
                         location.href=`/paymentSuccess`
                    }
                })}
                catch(err){
                        console.log(err.message);
                }
            }
   
</script>


  <%- include('../layout/userFooter') %>

  