<%- include('../layout/profileHeader') %>
<% orders.forEach((ord)=>{%>
<p> <%=ord.order_date %></p>
<!-- <p><%=ord.user.name %></p> -->
<p><%=ord.order_date %></p>
    <%ord.product_list.forEach((list)=>%>
        <p><%= list %></p>
    <%)%>
<%})%>
</div>
<%- include('../layout/userFooter') %>