<%- include('../layout/profileHeader') %>

<div class="d-block" style="width:1250px;">
  <% if(!list || list.length === 0 || productlist_length === 0) {%>
    <div class="d-flex justify-content-center align-items-center" style="margin-top:40px;">
      <div class="d-block"> 
           <div>
               <img width="500" height="350" src="/userasset/images/empty-list.png" />
           </div>
           <div class="d-flex justify-content-center align-items-center" style="margin-top:20px;">
               <a href="/allproducts" class="use-but ord-but text-center text-white" style="background-color:#4F0341 ;">Go to shopping</a>
           </div>
       </div>
   </div>
      <%} else if (list) {%>
       
  <div class="row mb-5 ms-4">
    <% list.forEach((lst)=>{ %>
    <% products.forEach((pdt, index) => { %>
      <% if(lst.product_list.includes(pdt._id.toString())) { %>
    <div class="mb-4 ms-5 " data-aos="fade-up" style="margin-left:20px;padding:20px;">
        <div class="block-4 text-center border" style="width:250px;height:450px;">     
          <figure class="block-4-image" style="width:300px;height:250px;">
            <button class="wish-close" class="icon icon-heart rounded-circle " type="button" onclick="removeFromList('<%= pdt._id %>')">X
            </button>       
            <a href="/viewProduct/<%= pdt._id %>"><img src="../upload/<%= pdt.images[0]%>" alt="Image placeholder" class="img-fluid" style="width:300px;height:250px;"></a>
          </figure>
          <div class="block-4-text p-4">
            <h3><a href="/viewProduct/<%= pdt._id %>"><%= pdt.product_name %></a></h3>
            <div class="d-flex justify-content-around mt-2 ">
              <p class=" mb-0 text-danger font-weight-light"><del>RS.<%= pdt.price_unit %></del></p>
              <p class="text-black font-weight-light">Rs.<%=pdt.discountedsalePrice %></p>
            </div>
            <div class="">
              <button class="use-but ord-but text-center bg-light" onclick="addingtoCart('<%= pdt._id %>','<%=pdt.discountedsalePrice %>')" type="button" style="color:  #4F0341;" >Add to cart</button></div>
            </div>
        </div>
    </div>
    <%}%>
    <%})%>
    <%})%>
  </div>
  <% if (errorMessage.length > 0) { %>                
    <div id="errorMessageDiv" class="alert alert-danger mt-3" role="alert"> <%- errorMessage %>  </div>                
                     <script>                                
                       setTimeout(function() {
                          var errorMessageDiv = document.getElementById("errorMessageDiv");
                          if (errorMessageDiv) {
                              errorMessageDiv.style.display = "none";
                          }
                      }, 4000); 
                  </script>
  <% } %>
  <% if (successMessage.length > 0) { %>                
    <div id="successMessageDiv" class="alert alert-success" role="alert"> <%- successMessage %>  </div>                    
    <script>                                
      setTimeout(function() {
         var successMessageDiv = document.getElementById("successMessageDiv");
         if (successMessageDiv) {
          successMessageDiv.style.display = "none";
         }
     }, 4000); 
 </script>
    <% } %>
<div class="row" data-aos="fade-up">
<div class="col-md-12 text-center">
<div class="site-block-27">
  <ul>         
    <% for(let i = 1 ; i <= pages ; i++){%>
      <% if( i== pageNum ) {%>
       <li class="active"><a href="/getList/?page=<%= i %>"><span><%= i %></span></a></li>
      <% } else { %>
      <li><a href="/getList/?page=<%= i %>"><span><%= i %></span></a></li>
      <% } %>
    <% } %>         
  </ul>
</div>
</div>
</div>
</div>
<%}%>
</div>
<!-- pagination -->



</div>



  </div>

 
  
  <script>
    //adding to cart
    function addingtoCart(pdtid,amt){
      fetch(`/addtocart/${pdtid}/${amt}`,{
        method : "post",
        headers : {
          "Content-Type" :"application/json"
        }
      })
      .then(res=>res.json())
      .then(data=>{
        if(data.success){
          removeFromList(pdtid)
        } else {
          location.href = '/getList'
        }
      })
    }

    //remove from list
    function removeFromList(pdtid){
      fetch(`/removeList/${pdtid}`,{
        method : "post",
        headers : {
          "Content-Type" :"application/json"
        }
      })
      .then(res=>res.json())
      .then(success=>{
        if(success){
          location.href = '/getList'
        } else {
          location.href = '/getList'
        }
      })
    }
  </script>
<%- include('../layout/userFooter') %>
 