<%- include('../layout/userHeader') %>

<div class="bg-light py-3">
    <div class="container">
      <div class="row">
        <div class="col-md-12 mb-0"><a href="/home">Home</a> <span class="mx-2 mb-0">/</span> <strong class="text-black"><%=page %>></strong></div>
      </div>
    </div>
  </div>
  



  <div class="site-section">
    <div class="container">

      <div class="row mb-5">
        <div class="col-md-9 order-2">
         
          <div class="row">
            <div class="col-md-12 mb-5">
              <div class="float-md-left mb-4"><h2 class="text-black h5">Shop All</h2></div>
              <div class="d-flex">
                <div class="dropdown mr-1 ml-md-auto">
                  <button type="button" class="btn btn-secondary btn-sm dropdown-toggle" id="dropdownMenuOffset" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Latest
                  </button>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuOffset">
                    <a class="dropdown-item" href="/newHandicrafts">Handicrafts</a>
                    <a class="dropdown-item" href="/newAntique">Antique</a>
                    <a class="dropdown-item" href="/newSpices">Spices</a>
                    <a class="dropdown-item" href="/newApparels">Apparels</a>
                  </div>
                </div>
                <div class="btn-group">
                  <button type="button" class="btn btn-secondary btn-sm dropdown-toggle" id="dropdownMenuReference" data-toggle="dropdown">Reference</button>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuReference">
                     <a class="dropdown-item" href="/mostSold">Most sold</a>  
                                      <!--most sold calculte from paymnt product list  -->
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/lowtohigh">Price, low to high</a>
                    <a class="dropdown-item" href="/hightolow">Price, high to low</a>
                    <a class="dropdown-item" href="/ascending">aA-zZ</a>
                    <a class="dropdown-item" href="/descending">zZ-aA</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row mb-5">
            <% products.forEach((pdt, index) => { %>
              
                  <% let mrp = 0; %>
                  <% let per = 0; %>        
                  <% discounts.forEach((disc_row, index) => { %>
                    <%console.log(disc_row._id , pdt.discount)%>
                    <%if(disc_row._id .equals( pdt.discount )) {%>
                        <% per = disc_row.percentage %>
                        <% mrp = (pdt.price_unit * (100 - per) * 0.01)  %>
                    <% } %>
                  <% })%>

            <div class="col-sm-6 col-lg-4 mb-4" data-aos="fade-up">
              <!-- <a href="/viewProduct/<%= pdt._id %>"> -->
                <div class="block-4 div-height text-center border">
                
                  <figure class="block-4-image-1">
                    <button id="wish-but" class="icon icon-heart" type="button" onclick="clickWishButton(event)">
                      <!-- &#10084; -->
                    </button>
                    <a href="/viewProduct/<%= pdt._id %>"><img src="../upload/<%= pdt.images[0]%>" alt="Image placeholder" class="img-fluid"></a>
                  </figure>
                  <div class="block-4-text p-4">
                    <h3><a href="/viewProduct/<%= pdt._id %>"><%= pdt.product_name %></a></h3>
                    <div class="d-flex justify-content-around mt-2 ">
                      <p class=" mb-0 text-danger font-weight-light"><del>RS.<%= pdt.price_unit %></del></p>
                      <p class="text-black font-weight-light">Rs.<%=mrp %></p>
                    </div>
                  </div>
                </div>
              <!-- </a> -->
            </div>
         
           
            <% })%>

          </div>
          <div class="row" data-aos="fade-up">
            <div class="col-md-12 text-center">
              <div class="site-block-27">
                <ul>
                  <li><a href="#">&lt;</a></li>
                  <li class="active"><span>1</span></li>
                  <li><a href="#">2</a></li>
                  <li><a href="#">3</a></li>
                  <li><a href="#">4</a></li>
                  <li><a href="#">5</a></li>
                  <li><a href="#">&gt;</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-3 order-1 mb-5 mb-md-0">
          <div class="border p-4 rounded mb-4">
            <h3 class="mb-3 h6 text-uppercase text-black d-block">Trending</h3>
            <ul class="list-unstyled mb-0">
              <li class="mb-1"><a href="/bestSellers" class="d-flex"><span class="text-black">Best Sellers</span> <span class="text-black ml-auto">(2,220)</span></a></li>
              <li class="mb-1"><a href="/popularProoducts" class="d-flex"><span class="text-black">Popular Products</span> <span class="text-black ml-auto">(2,550)</span></a></li>
              <li class="mb-1"><a href="/newArrivals" class="d-flex"><span class="text-black">New Arrivals</span> <span class="text-black ml-auto">(2,124)</span></a></li>
            </ul>
          </div>
        <!-- </div> -->

        
          <div class="border p-4 rounded mb-4">
            <h3 class="mb-3 h6 text-uppercase text-black d-block">Shop By Categories</h3>
            <ul class="list-unstyled mb-0">
              <li class="mb-1"><a href="/toycategory" class="d-flex"><span class="text-black">Toys</span> <span class="text-black ml-auto">(2,220)</span></a></li>
              <li class="mb-1"><a href="/ecofriendly" class="d-flex"><span class="text-black">Eco-Friendly</span> <span class="text-black ml-auto">(2,550)</span></a></li>
              <li class="mb-1"><a href="/giftcategory" class="d-flex"><span class="text-black">Gifts</span> <span class="text-black ml-auto">(2,124)</span></a></li>
            
             

            </ul>
          </div>
      
         <div class="border p-4 rounded mb-4">
            <!--  <div class="mb-4">
              <h3 class="mb-3 h6 text-uppercase text-black d-block">Filter by Price</h3>
              <div id="slider-range" class="border-primary"></div>
              <input type="text" name="text" id="amount" class="form-control border-0 pl-0 bg-white" disabled="" />
            </div> -->
            <div class="border p-4 rounded mb-4">
              <h3 class="mb-3 h6 text-uppercase text-black d-block">Price Ranges</h3>
              <ul class="list-unstyled mb-0">
                <li class="mb-1"><a href="/lowCost" class="d-flex"><span class="text-black">below 500</span> <span class="text-black ml-auto">(2,220)</span></a></li>
                <li class="mb-1"><a href="/averageCost" class="d-flex"><span class="text-black">500 - 10,000</span> <span class="text-black ml-auto">(2,550)</span></a></li>
                <li class="mb-1"><a href="/costly" class="d-flex"><span class="text-black">10,000 - 50,000</span> <span class="text-black ml-auto">(2,124)</span></a></li>
                <li class="mb-1"><a href="/highcostly" class="d-flex"><span class="text-black">above 50,000</span> <span class="text-black ml-auto">(2,124)</span></a></li>
              
               
  
              </ul>
            </div>
            

            <div class="mb-4">
              <h3 class="mb-3 h6 text-uppercase text-black d-block">Popular Material</h3>
              <a href="/brassmaterial" class="d-flex color-item align-items-center" >
                <span class="bg-danger color d-inline-block rounded-circle mr-2"></span> <span class="text-black">Brass(2,429)</span>
              </a>
              <a href="/woodmaterial" class="d-flex color-item align-items-center" >
                <span class="bg-success color d-inline-block rounded-circle mr-2"></span> <span class="text-black">Wood(2,298)</span>
              </a>
              <a href="metalmaterial" class="d-flex color-item align-items-center" >
                <span class="bg-info color d-inline-block rounded-circle mr-2"></span> <span class="text-black">Metal(1,075)</span>
              </a>
              <!-- <a href="rosewoodmaterial" class="d-flex color-item align-items-center" >
                <span class="bg-primary color d-inline-block rounded-circle mr-2"></span> <span class="text-black">Rosewood(1,075)</span>
              </a> -->
            </div>

          </div>
        </div>
      </div>

     
     
     
    </div>
  </div>

  <%- include('../layout/userFooter') %>