<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Mukta:300,400,700"> 
    <link rel="stylesheet" href="/userasset/fonts/icomoon/style.css">

    <link rel="stylesheet" href="/userasset/css/bootstrap.min.css">
    <link rel="stylesheet" href="/userasset/css/magnific-popup.css">
    <link rel="stylesheet" href="/userasset/css/jquery-ui.css">
    <link rel="stylesheet" href="/userasset/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/userasset/css/owl.theme.default.min.css">
    <script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="/userasset/css/aos.css">

    <link rel="stylesheet" href="/userasset/css/style.css">
    <link rel="stylesheet" href="/stylesheets/style-user.css" type="text/css">
    <link rel="stylesheet" href="/stylesheets/style-modal.css" type="text/css">
    <style>
        .input-group {    
        position:relative;
        width : 100%;  
        margin-bottom: 25px;
      }
      
      .input-group input,
      .input-group textarea {
        width: 100%;
        padding: 10px;
        font-size: 1rem;
        border: 1px solid #ccc;
        border-radius: 4px;
        outline: none;
      }
      
      .floating-label {
        position: absolute;
        left: 10px;
        top: 10px;
        pointer-events: none;
        transition: 0.2s ease all;
        color: #aaa;
        font-size: 1rem;
      }
      
      input:focus ~ .floating-label,
      input:not(:placeholder-shown) ~ .floating-label,
      textarea:focus ~ .floating-label,
      textarea:not(:placeholder-shown) ~ .floating-label {
        top: -20px;
        left: 10px;
        font-size: 0.8rem;
        color: #474b50;
      } 
        .error{
          position:absolute;
          right:8px;
          top:10px;
         color:#ed1557;
         font-size: 13px;
         font-weight: bold;
      }
      
      .error i {
          color:seagreen;
      }
      </style>
    
  </head>
  <body>
    <% let ordr_tot = 0%>
   
    <%if(cartDet){%>                          

        <% let addressid = ''%>
        <% cartDet.forEach((cart,index)=>{%>
    <form  role="form" id="address-form" method="post" onsubmit="return validateForm()">
        <div class="check-header">
           <div class="site-logo">
            <a class="navbar-brand m-0" href="/home" target="_blank">
              <img src="/userasset/images/logo.png" class="navbar-brand-img h-100" alt="main_logo">
              <span class=" logo-span ms-1 font-weight-bold text-dark">TraditionShoppe</span>
            </a>
          </div>
           <div> <p class="text-secondary font-weight-bold fs-3">Checkout</p></div>
           <div><a href="/cart"><span class="icon icon-shopping_cart text-dark "></span></a></div>
        </div>
        <% if (errorMessage.length > 0) { %>                
            <div id="errorMessageDiv" class="alert alert-danger mt-3" role="alert"> <%- errorMessage %>  </div>                
                               <script>                                
                                 setTimeout(function() {
                                    var errorMessageDiv = document.getElementById("errorMessageDiv");
                                    if (errorMessageDiv) {
                                        errorMessageDiv.style.display = "none";
                                    }
                                }, 4000); 
                            </script>
            <% } %>
          <% if (successMessage.length > 0) { %>                
            <div class="alert alert-success" role="alert"> <%- successMessage %>  </div>                  
          <% } %>
          
        <div class="row d-flex base-addrs">
            <div class="col-md-4 mt-1">
                <div class="address boredr-shadow">                    
                    <div class="bottom-line">
                        <p class="p-head text-dark">Your Addresses</p>
                    </div>
                    <div class="d-block bottom-line">
                                
                        
                        
                                
                                <%if(!userAddress){%>
                                    <a href="#" id="openModal" data-modal-target="#modal"><span class="icon icon-plus d-flex">&nbsp;<p>Add new address</p></span></a>
                                <%} else {%>
                                  
                                        <% userAddress.forEach((adr,index)=>{%>
                                                <div class="addrs-box">
                                                    <input type="radio" id="address<%= index %>" name="address" value="<%= adr._id %>" <% if (index === 0) { %> checked <% } %> >
                                                    <label for="address<%= index %>" class="text-dark"><%=adr.name %>,<%=adr.house %>,<span class="text-uppercase"><%=adr.city %></span>,<span class="text-uppercase"><%=adr.state %></span>,<%=adr.pincode %>,<%=adr.Country %>
                                                    <a href="/loadeditAddress/<%=adr._id%>/<%=cart._id%>/<%=cart.total_amount%>">Edit address</a></label><br>
                                                </div>
                                           
                                
                                    
                                    <%})%>                                  
                                    <a href="#" id="openModal" data-modal-target="#modal"><span class="icon icon-plus d-flex">&nbsp;<p>Add new address</p></span></a>
                                    
                                <%}%>
                            
                      
                            
                    </div>
                    <div class="d-flex justify-content-center m-3">
                        <label id ="useAddress"  class="use-but mb-2 btn text-capitalize  text-center text-white font-weight-bold">Use this address</label>
                    </div>
                </div>
                <div class="modal mod-ad" id="modal">
                    <div class="closeModal d-flex justify-content-end"> 
                      <a id="closeModal"  data-close-button class="close-button" >&times;<a>              
                    </div> 
                    <div>
                        <p class="text-center font-weight-bold" style="color: darkmagenta;font-size: 25px;margin-top:-55px;">Add a new address</p>
                    </div>          
                    <div class="modal-body">
                     <div class="address-body">                        
                        <div class="input-group form-group w-100">
                            <input type="text" id="name" name="name" class="form-control"  placeholder="" onkeyup="validateName()">
                            <label for="name" class="floating-label">Name</label>
                            <span id="name-error" class="error"></span>
                        </div>
                        <div class="input-group form-group w-100">
                            <input type="text" id="mobile" name="mobile" class="form-control"  placeholder="" onkeyup="validateMobile()">
                            <label for="mobile" class="floating-label">Mobile</label>
                            <span id="phone-error" class="error"></span>
                                </div>    
                        <div class="input-group form-group ">
                            <input type="text" id="pin" name="pin" class="form-control"  placeholder="" onkeyup="validatePin()">
                            <label for="pin" class="floating-label">Pincode</label>
                            <span id="pin-error" class="error"></span>
                        </div>                      
                        <div class="input-group form-group ">
                            <input type="text" id="house" name="house" class="form-control"  placeholder="" onkeyup="validateHouse()">
                            <label for="house" class="floating-label">Flat, House no., Building, Company, Apartment</label>
                            <span id="house-error" class="error"></span>
                        </div> 
                        <div class="input-group form-group ">
                            <input type="text" id="street" name="street" class="form-control"  placeholder="" onkeyup="validateStreet()">
                            <label for="street" class="floating-label">Area, Street, Sector, Village</label>
                            <span id="street-error" class="error"></span>
                        </div> 
                        <div class="input-group form-group ">
                            <input type="text" id="landmark" name="landmark" class="form-control"  placeholder="" onkeyup="validateLandmark()">
                            <label for="landmark" class="floating-label">Landmark</label>
                            <span id="landmark-error" class="error"></span>
                        </div>                
                        <div class="input-group form-group ">
                            <input type="text" id="city" name="city" class="form-control"  placeholder="" onkeyup="validateTown()">
                            <label for="city" class="floating-label">Town/City</label>
                            <span id="city-error" class="error"></span>
                        </div>                
                        <div class="input-group form-group ">
                            <input type="text" id="state" name="state" class="form-control"  placeholder="" onkeyup="validateState()">
                            <label for="state" class="floating-label">State</label>
                            <span id="state-error" class="error"></span>
                        </div>  
                        <div class="input-group form-group ">
                            <input type="text" id="country" name="country" class="form-control"  placeholder="" onkeyup="validateCountry()">
                            <label for="country" class="floating-label">Country</label>
                            <span id="country-error" class="error"></span>
                        </div>                        
                     </div>
                    </div>
                    <div class="modal-footer">
                      <!-- <a id="cancel" data-close-button class="btnmodal btn btn-lg bg-light btn-lg w-25 mt-4 mb-0 me-2">No, cancel</a> -->
                      <button type="submit" id="addAddress" formaction="/addAddress/<%=cart.user%>/<%=cart._id%>/<%=cart.total_amount%>" class="btnmodal btn w-75 ">Use this address</button>
                    </div>
                 </div> 
            </div>
           
        </form>
        <% defaultPayment = 'Razorpay' %>
        <!-- <form  role="form" id="checkout-form"  method="post"> -->
            <div class="col-md-4 mt-1">
                <div class="payment boredr-shadow d-block text-dark">
                    <div class="bottom-line mb-0 p-0 ">
                        <p class="p-head text-dark">Add Coupon Here</p>                        
                    </div>
                    <div class="d-flex justify-content-around pt-2 ">
                        <input type="text" name="couponCode" id="couponCode" class="rounded">
                        <button class="use-but btn text-white w-25" style="margin-left: -55px;margin-top: 10px;" type="button" onclick="applyCoupon('<%=cart.total_amount %>','<%=cart.user%>','<%=cart._id%>')">Apply</button>
                    </div>
               
               
                    <div class="bottom-line mt-3">
                        <p class="p-head text-dark">Choose payment method</p>                        
                    </div>
                    <div class="d-block bottom-line p-3">
                        <input type="radio" id="razorpay" name="paymethods" value="Razorpay" checked="true">
                        <label for="razorpay">Razorpay</label><br>
                       
                        <input type="radio" id="cod" name="paymethods" value="COD">
                        <label for="cod">Cash on Delivery/Pay on Delivery</label>   
                        <p class="cod-rad">Cash, UPI and Cards accepted.</p>  
                        
                        <input type="radio" id="wallet" name="paymethods" value="Wallet">
                        <label for="razorpay">Wallet</label><br>
                    </div>
                    <div class="d-flex justify-content-start p-4">


                        <label id="payMethod" class="use-but btn text-capitalize text-white text-center font-weight-bold" >Use this payment method</label>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mt-1">
                <div class="checkout boredr-shadow">
                    <% ordr_tot = cart.total_amount %>
                    <div class="d-flex justify-content-center">                      
                        <button id="payButton" type="button" onclick="validateDetails(event,'<%=amount%>','<%=cart._id%>','<%=cart.user%>')" class="use-but btn text-white font-weight-bold text-capitalize">Use this payment method</button>
                    </div>
                    <div class="bottom-line ">
                        <p class="text-center text-dark">Choose a payment method to continue checking out.
                            You will still have a chance to review and edit your order before it is final.</p>
                    </div>
                    <div class="d-block text-dark">
                        <p class="bottom-line p-head text-dark">Order Summary</p>
                        <div class="d-flex justify-content-between">
                            <p>Items:</p>                           
                            <p>₹<%=cart.total_amount.toFixed(2)%></p>
                        </div>
                        <div class="d-flex justify-content-between">
                            <p>Delivery Charge:</p>
                            <p>₹<%=deliveryCharge.toFixed(2)%></p>
                        </div>                         
                        <% if(coupondiscount !== 0){%> 
                        <div class="d-flex justify-content-between">
                            <p>Coupon Amount:</p>
                            <p>₹<%=parseFloat(coupondiscount).toFixed(2)%></p>
                        </div>                          
                        <%}%>
                        <div class="d-flex justify-content-between bottom-line">
                            <p>Total:</p>
                            <p> ₹<%=cart.total_amount.toFixed(2)%></p>
                        </div>
                        <div class="d-flex justify-content-between">
                            <p class="p-head">Order Total:</p>
                            <% if(coupondiscount !== 0){%> 
                            <p class="p-head"> ₹<%=parseFloat(amount).toFixed(2)%></p>
                            <%} else {%>
                                <p class="p-head"> ₹<%=cart.total_amount.toFixed(2)%></p>
                            <%}%>
                        </div>
                    </div>
                      
                </div>
            </div>    
        </div> 
        
        <!-- </form> -->
       

        
         <!-- add address -->
         <%})%>

    <%}%>

 <div id="overlay"></div>


 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
 <script src="/userasset/js/jquery-3.3.1.min.js"></script>
<script src="/userasset/js/jquery-ui.js"></script>
<script src="/userasset/js/popper.min.js"></script>
<script src="/userasset/js/bootstrap.min.js"></script>
<script src="/userasset/js/owl.carousel.min.js"></script>
<script src="/userasset/js/jquery.magnific-popup.min.js"></script>
<script src="/userasset/js/aos.js"></script>

<script src="/userasset/js/main.js"></script>
<script src="/js/scripts.js"></script>
<script src="/js/validate.js"></script>
<script src="/js/script-modal.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
  <script>

    function displayMessage(message) {
        swal("Alert!", message, "error");
    }                    


    function applyCoupon( amount , userid , cartid ){
        const couponCode = document.getElementById('couponCode').value
        const totalAmount = amount
        console.log("code :",couponCode);
        console.log("amount :",totalAmount);
        console.log("userid :",userid);
        console.log("cartid :",cartid);

        const couponData = {
            couponCode,
            totalAmount
        }
        //console.log("coupondata :",couponData)

        fetch(`/applyCoupon/${userid}/${cartid}`,{
            method : 'POST',
            headers : {
                'Content-Type' : 'application/json'
            },
            body : JSON.stringify(couponData)
        }).then(res=>res.json())
        .then(data =>{
            if(data.success){
                const discountedTotal = data.discountedTotal
                const coupondiscount = data.couponDiscount
                console.log("data:",data)
                location.href = `/checkout/${cartid}/${discountedTotal}?coupondisc=${coupondiscount}`
            } else {
                location.href = `/checkout/${cartid}/${amount}`
            }
        })

    }

  
    
   function validateDetails(event,amnt,cart_ID,user_ID){
    // alert("inside script")
        const paymentMethod = document.querySelector('input[name="paymethods"]:checked');
        const address = document.querySelector('input[name="address"]:checked');
        const total = amnt;
        const cartid = cart_ID;
        const userid = user_ID 
console.log("pay :",paymentMethod,"total :",total)
        
    //make alert a popup box
        if(address === null){
           // event.preventDefault();
            displayMessage('Please select an address before placing your order');
            //return;
        }else if(total < 1000 && paymentMethod.value === "COD"){
           // event.preventDefault();
            displayMessage('Please go for online Payment for order lesser tha RS.1000/-');
            //return;
        }else if(total > 100000 && paymentMethod.value === "Razorpay"){
           // event.preventDefault();
            displayMessage('Maximum payment limit is  RS.100000/-');
            //return;
        } else {
                const checkoutData = {
                paymentMethod: paymentMethod.value,
                address: address.value,
                total,
                cartid,
                userid
            }
            console.log('total amount:',total)
            checkoutHandle(checkoutData,cartid,total)
        }
    }


        
    function checkoutHandle(checkoutData,cartid,total){ 
        console.log(checkoutData)      
        $.ajax({           
            url:`/makeOrder`,
            method:'post',
            data : JSON.stringify(checkoutData),
            success:function(res){
           
                if(res.cod_success){ 
                    location.href='/paymentSuccess'
                } else if(res.wallet_empty){ 
                    location.href=`/checkout/${cartid}/${total}`
                }
                else {                
                    var options = {
                        
                        "key": "" +res.key_id+ "", // Enter the Key ID generated from the Dashboard
                        "amount": "" +res.amount+ "", // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
                        "currency": "INR",
                        "name": "TraditioShoppe",
                        "description": "Test Transaction",
                        "image": "/userasset/images/logo.png",
                        "order_id": "" +res.order_id+ "", //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
                        "handler": function(response){
                           verifyPayment(response,res.razorder)
                        },
                        "prefill": {
                            "name": ""+res.name+"",
                            "email": ""+res.email+"",
                            "contact":""+res.contact+""
                        },
                        "notes": {
                            "address": "Razorpay Corporate Office"
                        },
                        "theme": {
                            "color": "#4F0341"
                        }
                    };
                    
                    var rzp1 = new Razorpay(options); 
                    rzp1.on('payment.failed', function (resp) {
                        console.log('error:', resp.error.code);
                        console.log('error:', resp.error.description);
                        console.log('error:', resp.error.source);
                        console.log('error:', resp.error.step);
                        console.log('error:', resp.error.reason);
                        console.log('error:', resp.error.metadata.order_id);
                        console.log('error:', resp.error.metadata.payment_id);
                        paymentFailed(resp)
                        location.href = `/getOrder`
                        //location.href = `/checkout/${cartid}/${total}`
                    });             
                    
                    rzp1.open();
                } 
                    
             
            },
            error: function(xhr, status, error){
            // Handle any errors that occur during the AJAX request
            console.error("AJAX Error:", error); // Log the error to the console
            // alert("An error occurred while processing your request. Please try again later."); // Display an error message to the user
            location.href = `/checkout/${cartid}/${total}`
        }
        })
   
   }
function paymentFailed(resp){
   fetch('/failedPayment',{
    method: 'get',
                headers: {
                    'Content-Type': 'application/json',
                }
   })
   .then(res => res.json())
    .then(data => {
            console.log("data:",data.orderid, data.cartid)
            const orderid = data.orderid
            const cartid = data.cartid
            if (data.success) {
                location.href = `/getOrder`
            }
        })
    }


async function verifyPayment(payment, order) {
        try {
            fetch('/verifyPayment', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ payment: payment, razorOrder: order })
            })
                .then(res => res.json())
                .then(data => {
                    if (data.success) {
                         location.href='/paymentSuccess'
                    }
                })}
                catch(err){
                        console.log(err.message);
                }
            }
   </script>
</body>
</html>
