<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Mukta:300,400,700"> 
    <link rel="stylesheet" href="/userasset/fonts/icomoon/style.css">

    <link rel="stylesheet" href="/userasset/css/bootstrap.min.css">
    <link rel="stylesheet" href="/userasset/css/magnific-popup.css">
    <link rel="stylesheet" href="/userasset/css/jquery-ui.css">
    <link rel="stylesheet" href="/userasset/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/userasset/css/owl.theme.default.min.css">


    <link rel="stylesheet" href="/userasset/css/aos.css">

    <link rel="stylesheet" href="/userasset/css/style.css">
    <link rel="stylesheet" href="/stylesheets/style-user.css" type="text/css">
    <link rel="stylesheet" href="/stylesheets/style-modal.css" type="text/css">
    
  </head>
  <body>
    <% let ordr_tot = 0%>
   
    <%if(cartDet){%>                          

        <% let addressid = ''%>
        <% cartDet.forEach((cart,index)=>{%>
    <form  role="form" id="address-form" method="post">
        <div class="check-header">
           <div class="site-logo">
            <a class="navbar-brand m-0" href="/home" target="_blank">
              <img src="/userasset/images/logo.png" class="navbar-brand-img h-100" alt="main_logo">
              <span class=" logo-span ms-1 font-weight-bold text-dark">TraditionShoppe</span>
            </a>
          </div>
           <div> <p class="text-secondary font-weight-bold fs-3">Checkout</p></div>
           <div><a href="/cart"><span class="icon icon-shopping_cart text-dark "></span></a></div>
        </div>
        <% if (errorMessage.length > 0) { %>                
            <div class="alert alert-danger" role="alert"> <%- errorMessage %>  </div>                  
          <% } %>
          <% if (successMessage.length > 0) { %>                
            <div class="alert alert-success" role="alert"> <%- successMessage %>  </div>                  
          <% } %>
          
        <div class="row d-flex base-addrs">
            <div class="col-md-4 mt-1">
                <div class="address boredr-shadow">                    
                    <div class="bottom-line">
                        <p class="p-head text-dark">Your Addresses</p>
                    </div>
                    <div class="d-block bottom-line">
                                
                        
                        
                                
                                <%if(!userAddress){%>
                                    <a href="#" id="openModal" data-modal-target="#modal"><span class="icon icon-plus d-flex">&nbsp;<p>Add new address</p></span></a>
                                <%} else {%>
                                  
                                        <% userAddress.forEach((adr,index)=>{%>
                                                <div class="addrs-box">
                                                    <input type="radio" id="address<%= index %>" name="address" value="<%= adr._id %>" <% if (index === 0) { %> checked <% } %> >
                                                    <label for="address<%= index %>" class="text-dark"><%=adr.name %>,<%=adr.house %>,<span class="text-uppercase"><%=adr.city %></span>,<span class="text-uppercase"><%=adr.state %></span>,<%=adr.pincode %>,<%=adr.Country %>
                                                    <a href="/loadeditAddress/<%=adr._id%>/<%=cart._id%>/<%=cart.total_amount%>">Edit address</a></label><br>
                                                </div>
                                           
                                
                                    
                                    <%})%>                                  
                                    <a href="#" id="openModal" data-modal-target="#modal"><span class="icon icon-plus d-flex">&nbsp;<p>Add new address</p></span></a>
                                    
                                <%}%>
                            
                      
                            
                    </div>
                    <div class="d-flex justify-content-center m-3">
                        <label id ="useAddress"  class="use-but mb-2 text-center text-dark font-weight-bold">Use this address</label>
                    </div>
                </div>
                <div class="modal mod-ad" id="modal">
                    <div class="closeModal">
                        <p>Enter a new delivery address</p>
                      <a id="closeModal"  data-close-button class="close-button">&times;<a>              
                    </div> 
                    <div>
                        <p>Add a new address</p>
                    </div>          
                    <div class="modal-body">
                     <div class="address-body">
                        
                        <div>
                            <input type="text" name="name" id="" placeholder="Fullname">
                        </div>
                        <div>
                            <input type="text" name="mobile" id="" placeholder="Mobile">
                        </div>
                        <div>
                            <input type="text" name="pin" id="pin" placeholder="Pincode">
                        </div>
                        <div>
                            <input type="text" name="house" id="" placeholder="Flat, House no., Building, Company, Apartment">
                        </div>
                        <div>
                            <input type="text" name="street" id="" placeholder="Area, Street, Sector, Village">
                        </div>               
                        <div>
                            <input type="text" name="landmark" id="" placeholder="Landmark">
                        </div>                
                        <div>
                            <input type="text" name="city" id="" placeholder="Town/City">
                        </div>
                        <div>
                            <input type="text" name="state" id="" placeholder="State">
                        </div>
                        <div>
                            <input type="text" name="country" id="" placeholder="Country">
                        </div>
                     </div>
                    </div>
                    <div class="modal-footer">
                      <!-- <a id="cancel" data-close-button class="btnmodal btn btn-lg bg-light btn-lg w-25 mt-4 mb-0 me-2">No, cancel</a> -->
                      <button type="submit" id="addAddress" formaction="/addAddress/<%=cart.user%>/<%=cart._id%>/<%=cart.total_amount%>" class="btnmodal btn btn-lg bg-warning btn-lg w-25 mt-4 mb-0 me-2">Use this address</button>
                    </div>
                 </div> 
            </div>
           
        </form>
        <% defaultPayment = 'Razorpay' %>
        <!-- <form  role="form" id="checkout-form"  method="post"> -->
            <div class="col-md-4 mt-1">
                <div class="payment boredr-shadow d-block text-dark">
                    <div class="bottom-line mb-0 p-0 ">
                        <p class="p-head text-dark">Add Coupon Here</p>                        
                    </div>
                    <div class="d-flex justify-content-around pt-2 ">
                        <input type="text" name="couponCode" id="couponCode" class="rounded">
                        <button class="but bg-light text-dark rounded" type="button" onclick="applyCoupon('<%=cart.total_amount %>','<%=cart.user%>','<%=cart._id%>')">Apply</button>
                    </div>
               
               
                    <div class="bottom-line mt-3">
                        <p class="p-head text-dark">Choose payment method</p>                        
                    </div>
                    <div class="d-block bottom-line p-3">
                        <input type="radio" id="razorpay" name="paymethods" value="Razorpay" checked="true">
                        <label for="razorpay">Razorpay</label><br>
                       
                        <input type="radio" id="cod" name="paymethods" value="COD">
                        <label for="cod">Cash on Delivery/Pay on Delivery</label>   
                        <p class="cod-rad">Cash, UPI and Cards accepted.</p>  
                        
                        <input type="radio" id="wallet" name="paymethods" value="Wallet">
                        <label for="razorpay">Wallet</label><br>
                    </div>
                    <div class="d-flex justify-content-start p-4">


                        <label id="payMethod" class="use-but text-center font-weight-bold" >Use this payment method</label>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mt-1">
                <div class="checkout boredr-shadow">
                    <% ordr_tot = cart.total_amount %>
                    <div class="d-flex justify-content-center">                      
                        <button id="payButton" type="button" onclick="validateDetails(event,'<%=amount%>','<%=cart._id%>','<%=cart.user%>')" class="use-but font-weight-bold">Use this payment method</button>
                    </div>
                    <div class="bottom-line ">
                        <p class="text-center text-dark">Choose a payment method to continue checking out.
                            You will still have a chance to review and edit your order before it is final.</p>
                    </div>
                    <div class="d-block text-dark">
                        <p class="bottom-line p-head text-dark">Order Summary</p>
                        <div class="d-flex justify-content-between">
                            <p>Items:</p>                           
                            <p><%=cart.total_amount%></p>
                        </div>
                        <div class="d-flex justify-content-between">
                            <p>Delivery Charge:</p>
                            <p>₹<%=deliveryCharge%></p>
                        </div>                         
                        <% if(coupondiscount !== 0){%> 
                        <div class="d-flex justify-content-between">
                            <p>Coupon Amount:</p>
                            <p>₹<%=coupondiscount%></p>
                        </div>                          
                        <%}%>
                        <div class="d-flex justify-content-between bottom-line">
                            <p>Total:</p>
                            <p> ₹<%=cart.total_amount%></p>
                        </div>
                        <div class="d-flex justify-content-between">
                            <p class="p-head">Order Total:</p>
                            <p class="p-head"> ₹<%=amount%></p>
                           
                        </div>
                    </div>
                      
                </div>
            </div>    
        </div> 
        
        <!-- </form> -->
       

        
         <!-- add address -->
         <%})%>

    <%}%>

 <div id="overlay"></div>


 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
 <script src="/userasset/js/jquery-3.3.1.min.js"></script>
<script src="/userasset/js/jquery-ui.js"></script>
<script src="/userasset/js/popper.min.js"></script>
<script src="/userasset/js/bootstrap.min.js"></script>
<script src="/userasset/js/owl.carousel.min.js"></script>
<script src="/userasset/js/jquery.magnific-popup.min.js"></script>
<script src="/userasset/js/aos.js"></script>

<script src="/userasset/js/main.js"></script>
<script src="/js/scripts.js"></script>
<script src="/js/script-modal.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
  <script>

function displayMessage(message) {
    swal("Alert!", message, "error");
        // var messageDiv = document.createElement('div');
        // messageDiv.className = messageType;
        // messageDiv.innerHTML = message;
        // document.body.appendChild(messageDiv);
        // setTimeout(function () {
        //     document.body.removeChild(messageDiv);
        // }, 3000);
    }                    


    function applyCoupon( amount , userid , cartid ){
        const couponCode = document.getElementById('couponCode').value
        const totalAmount = amount
        console.log("code :",couponCode);
        console.log("amount :",totalAmount);
        console.log("userid :",userid);
        console.log("cartid :",cartid);

        const couponData = {
            couponCode,
            totalAmount
        }
        //console.log("coupondata :",couponData)

        fetch(`/applyCoupon/${userid}`,{
            method : 'POST',
            headers : {
                'Content-Type' : 'application/json'
            },
            body : JSON.stringify(couponData)
        }).then(res=>res.json())
        .then(data =>{
            if(data.success){
                const discountedTotal = data.discountedTotal
                const coupondiscount = data.couponDiscount
                console.log("data:",data)
                location.href = `/checkout/${cartid}/${discountedTotal}?coupondisc=${coupondiscount}`
            } else {
                location.href = `/checkout/${cartid}/${amount}`
            }
        })

    }

  
    
   function validateDetails(event,amnt,cart_ID,user_ID){
    // alert("inside script")
        const paymentMethod = document.querySelector('input[name="paymethods"]:checked');
        const address = document.querySelector('input[name="address"]:checked');
        const total = amnt;
        const cartid = cart_ID;
        const userid = user_ID 
console.log("pay :",paymentMethod,"total :",total)
        
    //make alert a popup box
        if(address === null){
           // event.preventDefault();
            displayMessage('Please select an address before placing your order');
            //return;
        }else if(total < 1000 && paymentMethod.value === "COD"){
           // event.preventDefault();
            displayMessage('Please go for online Payment for order lesser tha RS.1000/-');
            //return;
        } else {
                const checkoutData = {
                paymentMethod: paymentMethod.value,
                address: address.value,
                total,
                cartid,
                userid
            }
            console.log('total amount:',total)
            checkoutHandle(checkoutData,cartid,total)
        }
    }


        
    function checkoutHandle(checkoutData,cartid,total){ 
        console.log(checkoutData)      
        $.ajax({           
            url:`/makeOrder`,
            method:'post',
            data : JSON.stringify(checkoutData),
            success:function(res){
           
                if(res.cod_success){ 
                    location.href='/paymentSuccess'
                } else if(res.wallet_empty){ 
                    location.href=`/checkout/${cartid}/${total}`
                }
                else {                
                    var options = {
                        
                        "key": "" +res.key_id+ "", // Enter the Key ID generated from the Dashboard
                        "amount": "" +res.amount+ "", // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
                        "currency": "INR",
                        "name": "TraditioShoppe",
                        "description": "Test Transaction",
                        "image": "/userasset/images/logo.png",
                        "order_id": "" +res.order_id+ "", //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
                        "handler": function(response){
                           verifyPayment(response,res.razorder)
                        },
                        "prefill": {
                            "name": ""+res.name+"",
                            "email": ""+res.email+"",
                            "contact":""+res.contact+""
                        },
                        "notes": {
                            "address": "Razorpay Corporate Office"
                        },
                        "theme": {
                            "color": "#4F0341"
                        }
                    };
                    
                    var rzp1 = new Razorpay(options); 
                    rzp1.on('payment.failed', function (resp) {
                        console.log('error:', resp.error.code);
                        console.log('error:', resp.error.description);
                        console.log('error:', resp.error.source);
                        console.log('error:', resp.error.step);
                        console.log('error:', resp.error.reason);
                        console.log('error:', resp.error.metadata.order_id);
                        console.log('error:', resp.error.metadata.payment_id);
                        paymentFailed(resp)
                        location.href = `/getOrder`
                        //location.href = `/checkout/${cartid}/${total}`
                    });             
                    
                    rzp1.open();
                } 
                    
             
            },
            error: function(xhr, status, error){
            // Handle any errors that occur during the AJAX request
            console.error("AJAX Error:", error); // Log the error to the console
            // alert("An error occurred while processing your request. Please try again later."); // Display an error message to the user
            location.href = `/checkout/${cartid}/${total}`
        }
        })
   
   }
function paymentFailed(resp){
   fetch('/failedPayment',{
    method: 'get',
                headers: {
                    'Content-Type': 'application/json',
                }
   })
   .then(res => res.json())
    .then(data => {
            console.log("data:",data.orderid, data.cartid)
            const orderid = data.orderid
            const cartid = data.cartid
            if (data.success) {
                location.href = `/getOrder`
            }
        })
    }


async function verifyPayment(payment, order) {
        try {
            fetch('/verifyPayment', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ payment: payment, razorOrder: order })
            })
                .then(res => res.json())
                .then(data => {
                    if (data.success) {
                         location.href='/paymentSuccess'
                    }
                })}
                catch(err){
                        console.log(err.message);
                }
            }


  </script>
</body>
</html>
