<!DOCTYPE html>
<html lang="en">
<head>
    <title><%= title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Mukta:300,400,700"> 
    <link rel="stylesheet" href="/userasset/fonts/icomoon/style.css">

    <link rel="stylesheet" href="/userasset/css/bootstrap.min.css">
    <link rel="stylesheet" href="/userasset/css/magnific-popup.css">
    <link rel="stylesheet" href="/userasset/css/jquery-ui.css">
    <link rel="stylesheet" href="/userasset/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/userasset/css/owl.theme.default.min.css">
    <script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="/userasset/css/aos.css">

    <link rel="stylesheet" href="/userasset/css/style.css">
    <link rel="stylesheet" href="/stylesheets/style-user.css" type="text/css">
    <link rel="stylesheet" href="/stylesheets/style-modal.css" type="text/css">
    <style>
        .input-group {    
        position:relative;
        width : 100%;  
        margin-bottom: 25px;
      }
      
      .input-group input,
      .input-group textarea {
        width: 100%;
        padding: 10px;
        font-size: 1rem;
        border: 1px solid #ccc;
        border-radius: 4px;
        outline: none;
      }
      
      .floating-label {
        position: absolute;
        left: 10px;
        top: 10px;
        pointer-events: none;
        transition: 0.2s ease all;
        color: #aaa;
        font-size: 1rem;
      }
      
      input:focus ~ .floating-label,
      input:not(:placeholder-shown) ~ .floating-label,
      textarea:focus ~ .floating-label,
      textarea:not(:placeholder-shown) ~ .floating-label {
        top: -20px;
        left: 10px;
        font-size: 0.8rem;
        color: #474b50;
      } 
        .error{
          position:absolute;
          right:8px;
          top:10px;
         color:#ed1557;
         font-size: 13px;
         font-weight: bold;
      }
      
      .error i {
          color:seagreen;
      }
      </style>
</head>
<body>
   <div class="container d-flex justify-content-center">
    <%if(address){%>
        <%address.forEach((addr,index)=>{%>
    <form action="/editAddress/<%=addr._id%>/<%=cartid%>/<%=amount%>" method="post" onsubmit="return validateForm()">
        <div class="d-block" style="width:500px;height:720px; padding:80px;border-radius: 25px; box-shadow: 0 0 30px -10px rgba(71, 31, 68, 0.3);">
            <p class="text-center font-weight-bold" style="color: darkmagenta;font-size: 25px;margin-top:-55px;">Change Address</p>
            <div class="">  
                <hr>          
               
                <div class="input-group form-group w-100">
                    <input type="text" id="name" name="name" class="form-control"   onkeyup="validateName()" value="<%= addr.name %>">
                    <label for="name" class="floating-label">Name</label>
                    <span id="name-error" class="error"></span>
                </div>
                <div class="input-group form-group w-100">
                    <input type="text" id="mobile" name="mobile" class="form-control"   onkeyup="validateMobile()" value="<%= addr.mobile %>">
                    <label for="mobile" class="floating-label">Mobile</label>
                    <span id="phone-error" class="error"></span>
                </div>    
                <div class="input-group form-group ">
                    <input type="text" id="pin" name="pin" class="form-control"  onkeyup="validatePin()" value="<%= addr.pincode %>">
                    <label for="pin" class="floating-label">Pincode</label>
                    <span id="pin-error" class="error"></span>
                </div>                      
                <div class="input-group form-group ">
                    <input type="text" id="house" name="house" class="form-control"  onkeyup="validateHouse()" value="<%= addr.house %>">
                    <label for="house" class="floating-label">Flat, House no., Building, Company, Apartment</label>
                    <span id="house-error" class="error"></span>
                </div> 
                <div class="input-group form-group ">
                    <input type="text" id="street" name="street" class="form-control"   onkeyup="validateStreet()" value="<%= addr.street %>">
                    <label for="street" class="floating-label">Area, Street, Sector, Village</label>
                    <span id="street-error" class="error"></span>
                </div> 
                <div class="input-group form-group ">
                    <input type="text" id="landmark" name="landmark" class="form-control" onkeyup="validateLandmark()" value="<%= addr.landmark %>">
                    <label for="landmark" class="floating-label">Landmark</label>
                    <span id="landmark-error" class="error"></span>
                </div>                
                <div class="input-group form-group ">
                    <input type="text" id="city" name="city" class="form-control"  placeholder="Town/City" onkeyup="validateTown()" value="<%= addr.city %>">
                    <label for="city" class="floating-label">Town/City</label>
                    <span id="city-error" class="error"></span>
                </div> 
                <div class="input-group form-group ">
                    <input type="text" id="state" name="state" class="form-control"  placeholder="State" onkeyup="validateState()" value="<%= addr.state %>">
                    <label for="state" class="floating-label">State</label>
                    <span id="state-error" class="error"></span>
                </div>                
                <div class="input-group form-group ">
                    <input type="text" id="country" name="country" class="form-control"  placeholder="Country" onkeyup="validateCountry()" value="<%= addr.country %>">
                    <label for="country" class="floating-label">Country</label>
                    <span id="country-error" class="error"></span>
                </div>               

                
            <hr>
            <div>
                <button type="submit" id="editAddress" formaction="/editAddress/<%=addr._id%>/<%=cartid%>/<%=amount%>" class="btnmodal btn w-100 ">Use this address</button>
            </div>
            
    </div>
        </div>
        
    </form>
    <%})%>
    <%}%>
    </div>
     <script src="/userasset/js/jquery-3.3.1.min.js"></script>
     <script src="/userasset/js/jquery-ui.js"></script>
     <script src="/userasset/js/popper.min.js"></script>
     <script src="/userasset/js/bootstrap.min.js"></script>
     <script src="/userasset/js/owl.carousel.min.js"></script>
     <script src="/userasset/js/jquery.magnific-popup.min.js"></script>
     <script src="/userasset/js/aos.js"></script>
     
     <script src="/userasset/js/main.js"></script>
     <script src="/js/scripts.js"></script>
     <script src="/js/script-modal.js"></script>
     <script src="/js/validate.js"></script>    
       
     </body>
     </html>