<%- include('../layout/userHeader') %>
<main>
    <div class="bg-light py-3 mt-3">      
        
          <!-- <div class="row">
            <div class="col-md-12 mb-0"><a href="/home">Home</a> <span class="mx-2 mb-0">/</span> <strong class="text-black">Shopping Cart</strong></div>
          </div> -->
        <div class="d-flex" >
            <div class="w-75 cart-left">
                <div class="col-md-12 mb-0">
                    <ul class="list-unstyled">
                        <% let amount = 0 %>
                        <% if(user_cart){%>
                        <li>
                            <div class="cart-head">
                                <p class="main">Shopping Cart <span>(<%= qtyCount%> items)</span> </p>
                                <p class="text-black">price</p>
                            </div>
                        </li>
                        <% let mrp = 0; %>
                        <% let per = 0; %>
                        <% let mrpTotal = 0; %>
                        <% user_cart.product_list.forEach((cart, index) => { %>
                            <% products.forEach((pdt, index) => { %>                                
                            <% if(cart.productId.equals(pdt._id) ){%> 
                                <!-- <% console.log("qty: "+cart.quantity) %>
                               -->  <% console.log("price: "+pdt.price_unit) %>      
                                <%  mrpTotal += parseFloat(cart.quantity * pdt.price_unit) %> 
                                <!-- <% console.log("total price: "+ mrpTotal) %>                                     -->
                                <% discounts.forEach((disc_row, index) => { %>
                                    <!-- <%console.log(disc_row._id , pdt.discount)%> -->
                                    <%if(disc_row._id .equals( pdt.discount )) {%>
                                        <% per = disc_row.percentage %>
                                        <% mrp = parseFloat(pdt.price_unit * (100 - per) * 0.01)  %>
                                    <% } %>
                                <% })%>
                            <li>
                                <div class="cart-list">
                                    <div class="d-flex align-items-center">
                                        <img src="../upload/<%= pdt.images[0] %>" alt="" class="cart-image">
                                        <p class="cart-name"><%=pdt.product_name %></p>
                                    </div>
                                    <div class="cart-details">
                                       
                                        <div class="cart-opert but">
                                            <a href="/subCart/<%=user_cart.user%>/<%=cart.productId%>/<%=mrp%>"><div class="p-1 m-0 side">-</div></a>
                                            <div class="p-1 m-0"><button><%=cart.quantity %></button></div>
                                            <a href="/addCart/<%=user_cart.user%>/<%=cart.productId%>/<%=mrp%>"><div class="p-1 m-0 side">+</div></a>
                                        </div>
                                        <a href="/deleteCart/<%=user_cart.user%>/<%=cart.productId%>"><span class="icon icon-trash cart-trash-icon"></span></a>

                                    </div>
                                    <div class="cart-price">
                                        <p class="disc">₹<%=mrp.toFixed(2) %></p>
                                        <p class="mrp">₹<%=pdt.price_unit.toFixed(2) %></p>
                                    </div>
                                </div>
                            </li>
                           
                          
                            <% } %>
                            <% }) %>
                            <% }) %>
                            <%console.log("total",mrp)%>
                            <% let sum = cpnamt+oframt %>
                            <%console.log("totalsum",sum)%>
                            <% amount = user_cart.total_amount %>
                            <% console.log("amount: "+ amount) %>    
                            <% let savings = parseFloat(mrpTotal - amount )%>
                            <% console.log("savings: "+ savings) %>    
                            <% if (errorMessage.length > 0) { %>   
                                <%console.log(errorMessage)%>             
                               <div class="alert alert-danger" role="alert"> <%- errorMessage %>  </div>                
                            <% } %>
                           
                        <li>
                            <div class="cart-footer">
                                <p>Subtotal (<%=qtyCount%> items):<span>₹<%=amount.toFixed(2)%> </span> </p>
                            </div>
                            
                        </li>
                    </ul>
                </div>           
            </div>
            <div class="">
                <div class="col-md-12 mb-0 ">
                    <div class="cart-proceed">
                        <p class="head">TraditionShoppe Subtotal(<%=qtyCount%><br> items):<span>₹<%=amount.toFixed(2)%> </span></p>
                        <p class="sub">Total Savings : <span>₹<%=savings.toFixed(2)%> </span></p>
                        <a href="/checkout/<%=user_cart.user%>/<%=user_cart.total_amount%>"><button>Proceed to Buy Item</button></a>
                        <div class="d-flex">
                            <div class="line"></div>
                            &nbsp;or&nbsp;
                            <div class="line"></div>
                        </div>
                        <a href="/allproducts"><p class="link">Continue Shopping</p></a>
                    </div>
                </div>
            </div>
            <% } else if(!user_cart || user_cart.product_list == '') {%>
                <div class="container">

                    <div class="block">
                        <div class="cart-empty d-block text-center">
                            <p class="p-con-head">Shopping Cart</p>
                            <div class="d-flex justify-content-center"> 
                                <a href="/home">Home</a> <span class="mx-2 mb-0">/</span> <p class="text-black">Shopping Cart</p>                          
                            </div>
                            <img width="190" height="150" src="..\upload\empty-cart.png" alt="shopping-cart"/>
                            <p class="p-con-subhead">Your Cart is currently empty!</p>
                            <p>You have no items in your shopping cart.</p>
                            <p class="mt-0">Let's go buy something</p>
                            <a href="/allproducts"><span class="con-but">Continue Shopping</span> </a>
                        </div>
                        
                    </div>

                </div>
                
               
                
                <%}%>
        </div>  
       
        
    </div> 



</main>
<%- include('../layout/userFooter') %>