<%- include('../layout/userHeader') %>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<style>
    .but_no:focus{
        outline: none;
    }
</style>
<main>
    <div class="bg-light py-3 mt-3">      
        
          <!-- <div class="row">
            <div class="col-md-12 mb-0"><a href="/home">Home</a> <span class="mx-2 mb-0">/</span> <strong class="text-black">Shopping Cart</strong></div>
          </div> -->
        <div class="d-flex" >
            <div class="w-75 cart-left">
                <div class="col-md-12 mb-0">
                    <ul class="list-unstyled">
                        <% let amount = 0 %>
                        <% if(user_cart){%>
                        <li>
                            <div class="cart-head">
                                <p class="main">Shopping Cart <span>(<%= qtyCount%> items)</span> </p>
                                <p class="text-black">price</p>
                            </div>
                        </li>
                        
                        <% user_cart.product_list.forEach((cart,) => { %>
                            <% products.forEach((pdt, index) => { %>                                
                                 <% if( cart.productId.equals(pdt._id)){%>           
                                
                            <li>
                                <div class="cart-list">
                                    <div class="d-flex align-items-center">
                                        <img src="../upload/<%= pdt.images[0] %>" alt="" class="cart-image">
                                        <p class="cart-name"><%=pdt.product_name %></p>
                                    </div>
                                    <div class="cart-details">                                       
                                        <div class="cart-opert but">
                                            <button onclick="subtractingFromCart('<%=user_cart._id%>','<%=user_cart.user%>','<%=cart.productId%>','<%=pdt.discountedsalePrice%>','<%=pdt.price_unit%>','<%=index%>')" class="p-1 m-0 side border-0 but_no" style="background: transparent;">-</button>
                                            <div class="p-1 m-0"><button id="cart_quantity<%=index%>"><%=cart.quantity %></button></div>
                                          <button onclick="addingToCart('<%=user_cart._id%>','<%=user_cart.user%>','<%=cart.productId%>','<%=pdt.discountedsalePrice%>','<%=pdt.price_unit%>','<%=index%>')" class="p-1 m-0 side border-0 but_no" style="background: transparent;">+</button>
                                          
                                        </div>
                                        <button onclick="deletingFromCart('<%=user_cart._id%>','<%=user_cart.user%>','<%=cart.productId%>')" class="border-0 but_no" style="background: transparent;"><span class="icon icon-trash cart-trash-icon"></span></button>

                                    </div>
                                    <div class="cart-price">
                                        <p class="disc"><span>₹</span><span id="pdt_price<%=index%>"><%=pdt.discountedsalePrice.toFixed(2)%></span></p>
                                        <p class="mrp"><span>₹</span><span id="pdt_mrp<%=index%>"><%=pdt.price_unit.toFixed(2)%></span></p>
                                    </div>
                                </div>
                            </li>
                           
                          
                            <% } %>
                            <% }) %>
                            <% }) %>                        
                            <% amount = user_cart.total_amount %>                      
                            <% let savings = parseFloat(mrpTotal - amount )%>
                            
                            
                            <% if (errorMessage.length > 0) { %>   
                                    
                               <div id="errorMessageDiv" class="alert alert-danger mt-3" role="alert"> <%- errorMessage %>  </div>                
                               <script>                                
                                 setTimeout(function() {
                                    var errorMessageDiv = document.getElementById("errorMessageDiv");
                                    if (errorMessageDiv) {
                                        errorMessageDiv.style.display = "none";
                                    }
                                }, 4000); 
                            </script>
                        <% } %>
                        <li>
                            <div class="cart-footer">
                                <p>Subtotal (<span id="subcount"><%=qtyCount%></span> items):<span>₹</span><span id="subtotal"><%=amount.toFixed(2)%></span></p>
                            </div>
                            
                        </li>
                    </ul>
                </div>           
            </div>
            <div class="">
                <div class="col-md-12 mb-0 ">
                    <div class="cart-proceed">
                        <p class="head">TraditionShoppe Subtotal(<span id="totalcount"><%=qtyCount%></span><br> items):<span>₹</span><span id="amttotal"><%=amount.toFixed(2)%></span></p>
                        <p class="sub">Total Savings : <span>₹</span><span id="savings"><%=savings.toFixed(2)%></span></p>
                        <a href="/checkout/<%=user_cart._id%>/<%=amount%>"><button class="use-but btn text-capitalize">Proceed to Buy Item</button></a>
                        <div class="d-flex">
                            <div class="line"></div>
                            &nbsp;or&nbsp;
                            <div class="line"></div>
                        </div>
                        <a href="/allproducts"><p class="link">Continue Shopping</p></a>
                    </div>
                </div>
            </div>
            <% } else if(!user_cart || user_cart.product_list == '') {%>
                <div class="container">

                    <div class="block">
                        <div class="cart-empty d-block text-center">
                            <p class="p-con-head">Shopping Cart</p>
                            <div class="d-flex justify-content-center"> 
                                <a href="/home">Home</a> <span class="mx-2 mb-0">/</span> <p class="text-black">Shopping Cart</p>                          
                            </div>
                            <img width="190" height="150" src="..\upload\empty-cart.png" alt="shopping-cart"/>
                            <p class="p-con-subhead">Your Cart is currently empty!</p>
                            <p>You have no items in your shopping cart.</p>
                            <p class="mt-0">Let's go buy something</p>
                            <a href="/allproducts"><span class="con-but">Continue Shopping</span> </a>
                        </div>
                        
                    </div>

                </div>
                
               
                
                <%}%>
        </div>  
       
        
    </div> 



</main>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script>
    //   setTimeout(function() {
    //         var errorMessageDiv = document.getElementById("errorMessageDiv");
    //         if (errorMessageDiv) {
    //             errorMessageDiv.style.display = "none";
    //         }
    //     }, 30000);
     function displayMessage(message) {
        swal("Alert!", message, "error");
    }                    

    function addingToCart(cartid,userid,pdtid,discountprice,price,index){
        const savings = document.getElementById('savings').innerHTML
        const newSavings = parseFloat(savings) + ( price - discountprice )
       // alert(index)
        fetch(`/addCart/${cartid}/${userid}/${pdtid}/${discountprice}`,{
            method:"post",
            headers:{
                'Content-Type':'application/json'
            }
        })
        .then((res)=>res.json())
        .then((data)=>{
            if(data.success){
                
                document.getElementById(`cart_quantity${index}`).innerHTML = data.newQty
                document.getElementById('qCount').innerHTML = data.qtyCount
                document.getElementById('subcount').innerHTML = data.qtyCount
                document.getElementById('totalcount').innerHTML = data.qtyCount
                document.getElementById('subtotal').innerHTML = data.totalAmount.toFixed(2)
                document.getElementById('amttotal').innerHTML = data.totalAmount.toFixed(2)
                document.getElementById(`pdt_price${index}`).innerHTML = data.pdtPrice.toFixed(2)
                document.getElementById('savings').innerHTML = newSavings.toFixed(2)
                amount = data.totalAmount.toFixed(2)
                // location.href='/cart'
            } 
            else {
                // console.log("message :",data)
                // swal("Alert!", data.message, "error");
                location.href='/cart'
            }
        })
    }

    function subtractingFromCart(cartid,userid,pdtid,discountprice,price,index){
        const savings = document.getElementById('savings').innerHTML
        const newSavings = parseFloat(savings) - ( price - discountprice )

        fetch(`/subCart/${cartid}/${userid}/${pdtid}/${discountprice}`,{
            method:"post",
            headers:{
                'Content-Type':'application/json'
            }
        })
        .then((res)=>res.json())
        .then((data)=>{
            if(data.success){
                document.getElementById(`cart_quantity${index}`).innerHTML = data.newQty
                document.getElementById('qCount').innerHTML = data.qtyCount
                document.getElementById('subcount').innerHTML = data.qtyCount
                document.getElementById('totalcount').innerHTML = data.qtyCount
                document.getElementById('subtotal').innerHTML = data.totalAmount.toFixed(2)
                document.getElementById('amttotal').innerHTML = data.totalAmount.toFixed(2)
                document.getElementById(`pdt_price${index}`).innerHTML = data.pdtPrice.toFixed(2)
                document.getElementById('savings').innerHTML = newSavings.toFixed(2)
                amount = data.totalAmount.toFixed(2)

                // location.href='/cart'
            } 
            else {
                location.href='/cart'
            }
        })
    }

    function deletingFromCart(cartid,userid,pdtid){
        swal({
                title: "Are you sure?",
                text: "Do you want to move this item from cart!",
                icon: "warning",
                buttons: true,
                dangerMode: true,
            }).then((willDelete) => {               
                    fetch(`/deleteCart/${cartid}/${userid}/${pdtid}`,{
                        method:"post",
                        headers:{
                            'Content-Type':'application/json'
                        }
                    })
                    .then((res)=>res.json())
                    .then((data)=>{
                        if(data.success){
                            location.href='/cart'
                        } else {
                            location.href='/cart'
                        }
                    })               
            });       
    }
   
</script>
<%- include('../layout/userFooter') %>