<%- include('../layout/userHeader') %>

<main>
    <div class="bg-light py-3">
        <% products.forEach((pdt, index) => { %>
        <div class="container">
          <div class="row">
            <div class="col-md-12 mb-0"><a href="/home">Home</a> <span class="mx-2 mb-0">/</span> <strong class="text-black"><%= pdt.product_name %></strong></div>
          </div>
        </div>
    </div>
    <div class="container base_container d-flex">
        <div id="product-view" class="product_view img-zoom-container"  >
            <div class="main_image">
                <picture>
                    <img id="mainImage" src="../upload/<%= pdt.images[0] %>" alt="" >
                </picture>
            </div> 
            <br>           
            <span class="thump_images">      
                <% for( let i = 0 ; i< pdt.images.length ; i++ ) {%>          
                <a href="#mainImage" onclick="updateMainImage('<%= pdt.images[i] %>')" onmouseover="updateMainImage('<%= pdt.images[i] %>')">
                    <picture>
                        <img src="../upload/<%= pdt.images[i]%>" alt="Thumbnail">
                    </picture>
                    
                </a>&ensp;&ensp;
                <% } %>                
            </span>
            
        </div>
        <div id="myresult" class="img-zoom-result"></div>    

        <div class="detail_view">
            <div  class="product-Name">
                <p><%= pdt.product_name%></p>
            </div>
            <div  class="information d-flex">
              <% let stock = ""; %>  
              <%if( pdt.stock>0) {%>
                <% stock ="In Stock" %>
                  <% } else {%>
                    <%stock = "Out of Stock" %>
                    <% }%>
                <p class="text-warning">rating </p>&ensp;&ensp; <p style="color :rgb(42, 75, 165); font-size: 20px; font-weight: 600;"><%= stock %></p>&ensp;&ensp; 
            </div>
            <div class="price-value">
              <% let per = 0 %>
              <% if( pdt.pdtoffer!== 0 && pdt.categoffer!== 0 ) {%> 
                  <% if( pdt.pdtoffer >= pdt.categoffer ){ %>
                    <% per =   pdt. productoffer. discount_per %>
                  <%} else {%>
                    <% per =  pdt.categoryoffer. discount_per %>
                  <%}%>
              <%} else if ( pdt.pdtoffer === 0 && pdt.categoffer === 0 ) {%>
                <% per =  10 %>
              <%} else if( pdt.pdtoffer >= pdt.categoffer ){ %>
                <% per =  pdt. productoffer. discount_per %>
              <%} else {%>
                <% per =  pdt.categoryoffer. discount_per %>
              <%}%>
                <div class="d-flex">
                  <p class="p-per">-<%= per %> % </p>&ensp;&ensp; <p class="p-price">₹<%=pdt.discountedsalePrice %></p>&ensp;&ensp;

                  <% if( pdt.pdtoffer!== 0 && pdt.categoffer!== 0 ) {%>                
                    <p class="det-name"><span style ="background-color: #00bfa5;" class="text-white">2 offers Available</span></p>
                  <%} else if( pdt.pdtoffer!== 0 || pdt.categoffer!== 0 ) {%>
                    <p class="det-name"><span style ="background-color: #00bfa5;" class="text-white">1 offer Available</span></p>
                  <%}%>
                </div>
              
                <p class="p-mrp">M.R.P.: <span >₹<%= pdt.price_unit %></span></p>
               
            </div>
            <!-- <div class="coupon">
                <span>Coupon </span>
            </div> -->
            <div class="product-details">
                <p class="det-head">Product Details</p>
                <p class="det-name">Description : <span><%= pdt.description %></span></p>
                <p class="det-name">Material : <span><%= pdt.material %></span></p>
                <p class="det-name">Size : <span><%= pdt.size %> inch</span></p>
                <p class="det-name">Weight : <span><%= pdt.weight %> grams</span></p>             
               
                
                
            </div>
            <div class="wish-save d-flex">
                <a class = "link-wish"href="/addtowishlist/<%= pdt._id %>"><span class="icon icon-heart-o">&nbsp;Add to wishlist</span></a>&ensp;&ensp;&ensp;&nbsp;
                <a class= "link-wish" href="/saveforlater"><span class="icon icon-save">&nbsp;Save for later</span></a>
            </div>           
            <br>          
            <div class="nav-but-div">
                <!-- <a href="/addtocart/<%= pdt._id %>/<%=pdt.discountedsalePrice %>"><button class="use-but ord-but text-center nav-but text-white" style="background-color:#4F0341;font-size:18px ;">Add to Cart</button></a>&ensp; -->
                <button type="button" onclick="addingtoCart('<%= pdt._id %>','<%=pdt.discountedsalePrice %>')" class="use-but ord-but text-center nav-but text-white" style="background-color:#4F0341;font-size:18px ;">Add to Cart</button></a>&ensp;
                <a href="/checkout/<%=user_id%>/<%=pdt.discountedsalePrice %>"><button class="use-but ord-but text-center nav-but text-white" style="background-color:#4F0341 ;font-size:18px ;">Buy Now</button></a>

            </div>
            <% if (errorMessage.length > 0) { %>                
              <div class="alert alert-danger" role="alert"> <%- errorMessage %>  </div>                  
            <% } %>
            <% if (successMessage.length > 0) { %>                
              <div class="alert alert-success" role="alert"> <%- successMessage %>  </div>                    
            <% } %>
            <div class ="line-div"></div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
              <div class="site-section block-3 site-blocks-2 bg-light">
                  <div class="row justify-content-center text-center mb-5">
                    <div class="col-md-7 site-section-heading pt-4">
                      <h2>Related Products</h2>
                    </div>
                  </div>
                  <div class="row loop-div">
                    <div class="col-md-12">
                    <div class="nonloop-block-3 owl-carousel">
                      
                    <% allproducts.forEach((allpdt, index) => { %>   
                      <% if ( (pdt.product_type === allpdt.product_type) || (pdt.material === allpdt.material)){%>                
                      
                        <div class="col-sm-6 col-lg-4 mb-4" data-aos="fade-up">
                            <a href="/viewProduct/<%= allpdt._id %>">
                              <div class="rel-box  text-center border">
                                <figure class="rel-image">
                                  <a href="/viewProduct/<%= allpdt._id %>"><img src="../upload/<%= allpdt.images[0]%>" alt="Image placeholder" class="img-fluid"></a>
                                </figure>
                                <div class="rel-text p-4">
                                  <h3><a href="/viewProduct/<%= allpdt._id %>"><%= allpdt.product_name %></a></h3>  
                                  <div class="d-flex justify-content-around mt-2 ">
                                    <p class=" mb-0 text-danger font-weight-light"><del>RS.<%= allpdt.price_unit %></del></p>
                                    <p class="text-black font-weight-light">Rs<%=allpdt.discountedsalePrice %></p>
                                  </div>                            
                                </div>
                              </div>
                            </a>
                          </div>
                          <%}%>
                    <% })%>

                 
                   
                  </div>
                </div>
                </div>
              </div>
            </div>
          </div>
    </div>
   
</main>
<% })%>



<script>
  //adding to cart
  function addingtoCart(pdtid,amt){
    fetch(`/addtocart/${pdtid}/${amt}`,{
      method : "post",
      headers : {
        "Content-Type" :"application/json"
      }
    })
    .then(res=>res.json())
    .then(data=>{
      if(data.success){
        location.href = `/viewProduct/${pdt_id}`
      } else {
        location.href = `/viewProduct/${pdt_id}`
      }
    })
  }
</script>

<%- include('../layout/userFooter') %>