<%- include('../layout/userHeader') %>

<div class="container">
    <div class="row mb-5">
        <% products.forEach((pdt, index) => { %>
          
              

        <div class="col-sm-6 col-lg-4 mb-4" data-aos="fade-up">
          <!-- <a href="/viewProduct/<%= pdt._id %>"> -->
            <div class="div-box div-height text-center border">
            
              <figure class="div-image">
                <span id="wish-but" class="icon icon-heart"></span>                 
                <a href="/viewProduct/<%= pdt._id %>"><img src="../upload/<%= pdt.images[0]%>" alt="Image placeholder" class="img-fluid"></a>
                <%if(pdt.totalrating > 0){%>
                  <span class="review_box" style="top:60%"><p class="text-black"><%=pdt.totalrating%>&nbsp;<i class="fas fa-star" style="color:#00bfa5;"></i>&nbsp;|&nbsp;<%=pdt.numRatings%></p></span>
                <%} else {%>
                  <span class="review_box" style="top:60%"><p class="text-dark">0&nbsp;<i class="fas fa-star" style="color:#00bfa5;"></i>&nbsp;|&nbsp;0</p></span>
                <%}%>
              </figure>
              <div class="div-text p-4">
                <h3><a href="/viewProduct/<%= pdt._id %>"><%= pdt.product_name %></a></h3>
                <div class="d-flex justify-content-center mt-2 ">
                  <p class=" mb-0 text-danger font-weight-light"><del>₹<%= pdt.price_unit %></del></p>
                  <p class="text-black font-weight-bold">₹<%=pdt.discountedPrice %></p>
                </div>
                <%if(pdt.pdtoffer !== 0 || pdt.categoffer !== 0){%>
                  <p class="text-success font-weight-bold">Offer  price : ₹<%=pdt.discountedsalePrice %></p>
                  <%}%>
              </div>
            </div>
          <!-- </a> -->
        </div>
     
       
        <% })%>

      </div>
</div>

<%- include('../layout/userFooter') %>