<%- include('../layout/authheader') %>

<body style="background-image: none;">
    <div class="container">
        <div class="d-flex justify-content-center h-100">
            <div class="card" style="height: 300px; background-color:transparent;">
                <div class="card-header" style="background-color: rgb(96, 9, 9)">
                    <h3>Verify Your Mobile</h3>
                    
                </div>
                <div class="card-body " tyle="background-color: white">
                   
                        <div class="row">
                            <!-- 4 boxes for digits -->
                            <div class="col">
                                <input type="password" class="form-control" name="otp" >
                            </div>                          
                                         
                        </div>
                        <div class="row justify-content-end">
                            <div class="col text-dark"><label for="">Time Remaining :  <p id="countdown">1:00</p></label></div>
                            <div class="col text-info">
                                <button id="resend" type="button" onclick="otpResending('<%=userId%>','<%=email%>')" class="bg-transparent text-info text-center">Resend</button>
                            </div>
                        </div>
                        <div class="form-group">
                            <button type="button" onclick="otpVerification('<%=userId%>')"  class="btn float-right login_btn">Verify</button>
                        </div>
                        <!-- resend timer add -->
                   
                </div>
            </div>
        </div>
    </div>
    <script>
        function otpVerification(userid){

            const otp = document.querySelector('input[name="otp"]').value
            console.log("otp :",otp)
            
            fetch(`/verifyOTP/${userid}`,{
                method:"post",
                headers:{
                    'Content-Type':'application/json'
                },
                body:JSON.stringify({otp})
            })
            .then((res)=>res.json())
            .then((data)=>{
                if(data.success){
                    location.href = '/signin/userLogin'
                } else {
                    loation.href=`/loatOTP/${userId}/${email}`
                }
            })
        }

        function otpResending(userid,email){
            fetch(`/resendOTP/${userid}/${email}`,{
                method:"post",
                headers:{
                    'Content-Type':'application/json'
                }
            })
            .then((res)=>res.json())
            .then((data)=>{
                if(data.success){
                    loation.href=`/loatOTP/${userid}/${email}`
                } else {
                    location.href = '/signin/userLogin'
                }
            })
        }
    </script>
    <%- include('../layout/authfooter') %>