<%- include('../layout/adminHeader') %>
<section>   
      <div class="container">
        <form role="form" action="/upload" method="post" enctype="multipart/form-data">    
        <div class="row ">                    
            <div class="col-6">
                <div class="card card-plain">
                    <div class="card-header">
                      <h4 class="font-weight-bolder">Add new Products</h4>
                      <!-- <p class="mb-0">Enter your email and password to register</p> -->
                    </div>

                    <div class="card-body">             
                      <div class="input-group input-group-outline mb-3">
                         <input type="text" class="form-control" name="name" placeholder="Name">
                      </div>
                      <!-- <div class="input-group input-group-outline mb-3 ">                 
                        <input type="email" class="form-control" placeholder="Category">
                      </div> -->
                      <div class="input-group input-group-outline d-flex justify-content-center">                  
                        <div class="mx-4">
                          <select id="categoryName" class="form-control">
                            <option value="No Category">Select Category</option>
                              <% categories.forEach((row, index) => { %>
                                  <option value="<%= row.category_name %>"><%= row.category_name %></option>
                              <% }) %>
                          </select>
                        </div>
                        <div class="mx-4">
                          <select id="sellerName" class="form-control">
                            <option value="No Seller">Select Seller</option>
                              <% sellers.forEach((row, index) => { %>
                                  <option value="<%= row.seller_name %>"><%= row.seller_name %></option>
                              <% }) %>
                          </select>
                        </div>
                        <div class="mx-4">
                          <select id="discountName" class="form-control">
                            <option value="No Discount">Select Discount</option>
                              <% discounts.forEach((row, index) => { %>
                                  <option value="<%= row.discount_name %>"><%= row.discount_name %></option>
                              <% }) %>
                          </select>
                        </div>
                      </div>
                      <div class="input-group input-group-outline mb-3">                  
                        <textarea type="text" name="description" class="form-control" placeholder="Description"></textarea>
                      </div>
                      <div class="input-group input-group-outline mb-3">                   
                          <input type="text" name="stock" class="form-control" placeholder="Stock">
                      </div>
                      <div class="input-group input-group-outline mb-3">                   
                          <input type="text" name="price" class="form-control" placeholder="Price per Unit">
                      </div>
                     
                      </div>
                      <div class="input-group input-group-outline mb-3 d-flex"> 
                        <div class="dropdown mx-3">
                          <select id="material" class="form-control">
                            <option value="No Material">Select Material</option>
                              <option value="Wood">Wood</option>
                              <option value="Fibre">Fibre</option>
                              <option value="Brass">Brass</option>
                              <option value="Metal">Metal</option>
                              <option value="Stone">Stone</option>
                              <option value="Bamboo">Bamboo</option>
                              <option value="Coconut">Copper-alloy</option>
                              <option value="Handloom">Handloom</option>
                              <option value="Handloom">Cotton</option>
                              <option value="Handloom">Cloth</option>
                              <option value="Handloom">Rosewood</option>
                              <option value="Handloom">Metal-wood</option>
                              <option value="Others">Others</option>
                          </select>
                      </div>
                      <div class="mx-3">
                        <select id="color" class="form-control">
                          <option value="No Color">Select Color</option>
                          <option value="DarkBrown">Dark Brown</option>
                          <option value="Antique brass">Antique Brass</option>
                          <option value="Sandal">Sandal</option>
                            <option value="Orange">Orange</option>
                            <option value="Golden">Golden</option>
                            <option value="Silver">Silver</option>
                            <option value="Green">Green</option>
                            <option value="Yellow">Yellow</option>
                            <option value="Grey">Grey</option>
                            <option value="Multicolor">Multicolor</option>
                            
                        </select>
                      </div>    
                      <div class="mx-3">
                        <select id="type" class="form-control">
                          <option value="No Type">Select Type</option>
                          <option value="Decor">decor</option>
                          <option value="Gifts">gifts</option>
                          <option value="Toys">toys</option>
                            <option value="Figurine">figurine</option>
                            <option value="Accessories">accessories</option>
                            <option value="eco-friendly">eco-friendly</option>
                            <option value="kitchen-utensil">kitchen-utensil</option>
                            <option value="Natural-products">natural-products</option>
                            <option value="clothes">clothes</option>
                            <option value="clothes">jewellery</option>
                            <option value="others">others</option>
                            
                        </select></div>          
                      <div class="input-group input-group-outline mb-3">                   
                        <input type="text" name="size" class="form-control" placeholder="Size (inches)">
                      </div>
                      <div class="input-group input-group-outline mb-3">                   
                        <input type="text" name="weight" class="form-control" placeholder="Weight (grams)">
                      </div>                
                      </div>
                      <div class="input-group input-group-outline mb-3 d-flex">  
                      <div>
                           <input type="file" class="form-control mx-3" 
                            value="Images" id="file-input" name="file" accept="image/png,image/jpeg" 
                            multiple>                            
                      </div>             
                    </div>
                        
                        <div class="text-center d-flex justify-content-end">                         
                            <button  id="addButton" type="submit"  class="btn btn-lg bg-gradient-primary btn-lg w-100 mt-4 mb-0 me-2">Submit</button>
                         </div>
                      
                    </div>
                  
                </div> 
            </div> 
          
        </form>        
       </div>   
  </section>


  <%- include('../layout/adminFooter') %>